[2020-07-20 03:09] abhiTronix commented on #149
@Thomasedv Keep `-i` parameter aside, let's focus only on video output. I think you're setting framerate too high for comparatively low framerate origin frames.

Means, you have kept low framerate while extracting those frames.

### Solution

Sometimes you may want the input frame rate and output frame rate to differ. For example, you may want to input the frames at a certain rate, and then duplic

[2020-07-20 04:05] Thomasedv commented on #149
[vidgear_test.zip](https://github.com/abhiTronix/vidgear/files/4945421/vidgear_test.zip)

Images and video is part of original xbox startup(minor flash warning in case of epilepsy), and the frames are the same video but interpolation, which is why the input has to be double the framerate of the video. This works well for anything else.
os.listdir() is sorted by filename on windows, but i added the

[2020-07-20 06:16] abhiTronix commented on #149
@Thomasedv If i recall, I added this `termination()` callback to address this [**bug**](https://github.com/abhiTronix/vidgear/issues/15#issuecomment-494499769) which causes the undesired behavior where sound continues to record with a frozen picture (if live audio is used as source) on termination, and without this callback this problem persists. **Is there any way to differentiate between live au

[2020-07-20 06:29] Thomasedv commented on #149
It's what I assumed. I honestly don't know exactly if that is possible, the best suggestion I have is to add a keyword argument to the close method that let's users turn of the termination. Eg. Have a `is_livestream=True` which would support backwards compatibility and let a user set to false to let it finish at its own pace.

I would think ffmpeg has some potential options, I'm not at liberty to

[2020-07-20 06:31] abhiTronix commented on #149
@Thomasedv what if you add `time.sleep(2)` delay before `writer.close()`?

[2020-07-20 06:37] abhiTronix commented on #149
Yep, that's the only way to address this problem. I'm in favor to add `-disable_force_termination` boolean flag to WriteGear's `option` dictionary attribute, which addresses your special case, like:

[code]

[2020-07-20 11:22] Thomasedv commented on #148
I ended up using another python module(PyAv) to decode frames because opencv (and vidgear as well because of it) just gives me less frames, despite reporting a higher total frame count. FFmpeg both reports and gives me all frames.

While less ideal, i used that for decoding and Writegear for encoding because it's so well made and easy to use.

[2020-07-20 11:25] golyalpha commented on #148
@Thomasedv That frame count mismatch sounds like a bug, though I haven't had that issue.

[2020-07-20 11:44] Thomasedv commented on #148
It likely is, probably related to the file format I was working with. But it's what pushed me to just swap to something other than opencv.

[2020-07-20 13:19] abhiTronix commented on #149
@Thomasedv If there's another way to tackle that bug more adequately, I'll merge it without hesitation. Thanks.

[2020-07-20 13:26] abhiTronix commented on #148
@abhiTronix, how open are you to using PyAV instead of FFMpeg in a subprocess?

@golyalpha PyAV directly provides Pythonic binding for the FFmpeg libraries, so there's no need of subprocess. I might switch to this library in the coming future, thanks so much for bring this up @Thomasedv .

[2020-07-20 13:29] golyalpha commented on #148
Yeah, no, those were two separate things (PyAV OR FFMpeg in a subprocess), I didn't mean using PyAV in a subprocess.

[2020-07-20 13:29] abhiTronix commented on #148
@Thomasedv Nope. It works worse according to my experience.

[2020-07-20 13:31] abhiTronix commented on #148
@golyalpha Can you benchmark PyAV too?

[2020-07-20 13:32] golyalpha commented on #148
I can try, sure.

[2020-07-20 13:38] abhiTronix commented on #148
I'm looking forward to new independent VideoCapture Gear purely working on PyAV backend, and if it is successful, I might completely replace FFmpeg with it, in other Gears too. I'll push related commit soon, y'all stay tuned!

[2020-07-20 13:45] golyalpha commented on #148
Alright, so, I've ran two benchmarks. One for just pure PyAV, and two with conversion to ndarray (with conversion to bgr24 pixfmt)

PyAV, no numpy:
[code]
The framerates are much lower than what I expected, but at least all of them are above 60

With conversion to bgr24 ndarray:
[code]
Unfortunately, these framerates are a bit too slow (really withing a margin of error compared to OpenCV) for my t

[2020-07-20 14:12] Thomasedv commented on #148
@golyalpha Can you share some sample code? There are a few ways to improve performance. Here is a snippet from my loading:

[code]

Some basic code that iterated all frames, that i previously used, take note that with or without FAST is negligible for the AUTO/FRAME, depending on run one is faster than the other.

Timetable:

[code]

[2020-07-20 14:20] abhiTronix commented on #148
@golyalpha Are you using system FFmpeg or provide with PyAV? Try this to use system one _(uninstall other one)_: https://pyav.org/docs/stable/overview/about.html#bring-your-own-ffmpeg

[2020-07-20 14:25] golyalpha commented on #148
@abhiTronix I'm on Windows, so there's only statically compiled ffmpeg. I'm gonna try out the suggestions provided by @Thomasedv though.

[2020-07-20 14:26] abhiTronix commented on #148
@Thomasedv Take a look at this: https://pyav.org/docs/stable/overview/about.html#unsupported-features. Unfortunately, They don't support Hardware Decoding.

[2020-07-20 15:02] golyalpha commented on #148
Alright, here's the benchmarks for AUTO and FRAME thread modes:
AUTO:
[code]
FRAME:
[code]

As for Hardware Decoding, there is a valid point brought up by the FFMpeg team, regarding most CPUs being able to decode video just fine, and as the above benchmarks provide, it may be unnecessary.

[2020-07-20 15:17] Thomasedv commented on #148
@golyalpha That's good (reasonably close i guess?), also thanks for the tip on ffmpeg backend. Also depending on CPU you might be limiting your decoding with encoding taking up the CPU.

@abhiTronix I wouldn't mind a PyAV backend, but the reason i like VidGears WriteGear is that i can basically just supply my own arguments i use with ffmpeg for other applications and i'm good to go. No need to fin

[2020-07-20 15:21] golyalpha commented on #148
As for the code that I currently use to run the decode benchmark, here it is:
[code]
data is path to folder with videos to decode (1080p.mp4, 900p.mp4, etc.)
label comes from the iteration over my "RESOLUTIONS" constant which is a dict of dicts, which mostly specifies resolution names, and their encode parameters.
runs is a dict that contains the FPS achieved during the benchmark for a given resol

[2020-07-20 15:31] golyalpha commented on #148
Alright, so, here's the full benchmark suite results. There's probably no surprise that the transcode benchmark did take a performance hit compared to both encode and decode benchmarks:

[code]

[2020-07-21 02:48] abhiTronix commented on #149
@Thomasedv Give me few days, as I'm stacked up with work right now. I'll notify you here when I'll be pushing related commits.

[2020-07-21 20:55] cyber-hoax opened #150 "can't import the vidgear as a package"
## Description

when trying to import from vidgear.gears import CamGear its showing error

    ModuleNotFoundError: No module named 'vidgear.gears'; 'vidgear' is not a package

[2020-07-22 02:51] abhiTronix commented on #150
**Duplicate of #140.** You either have a file named `vidgear.py` in your python path or you've named your python script `vidgear.py`. Remove replace `vidgear` name with anything else to fix this error.

[2020-07-22 02:51] #150 closed

[2020-07-27 07:43] tms2003 opened #151 "why to used vidgear?do u give me a simple examples instead of opencv?"
I already read the introducation of vidgear. and I noticed multi-thread and something in it.but ,I can't understand the differents with opencv lib.

If I have two cameras,how to use vidgear?anything like opencv ?

could u give me some multi threads simple?

[2020-07-27 08:36] abhiTronix commented on #151
Read this: https://abhitronix.github.io/vidgear/help/general_faqs/#vidgear-is-using-multi-threading-but-python-is-notorious-for-its-poor-performance-in-multithreading  and https://abhitronix.github.io/vidgear/bonus/TQM/

Multi-Threading is used internally  for its videocapture APIs. You just have to run any given example of respective API and rest is done automatically. If you're already familiar

[2020-07-27 08:36] #151 closed

[2020-07-28 06:24] abhiTronix commented on #149
@Thomasedv  Thanks for your patience. Kindly try #145 PR by installing `development` branch as follows:

[code]

**and check if it works as you expected or not?**

[2020-07-29 03:28] abhiTronix commented on #149
**Successfully resolved and merged in commit https://github.com/abhiTronix/vidgear/commit/d76c8be8df075b3d0feef2c6de1b40f7706c5ffc.**

[2020-07-29 03:28] #149 closed

[2020-07-29 03:29] abhiTronix commented on #149
**@Thomasedv Closed and marked solved for now. Kindly share your results when you're ready. Good luck!**

[2020-07-29 03:31] abhiTronix commented on #48
**WriteGear API now supports URLs as input. Successfully resolved and merged in commit d76c8be.**

[2020-07-29 03:31] #48 closed

[2020-07-29 03:31] abhiTronix commented on #144
Successfully resolved and merged in commit d76c8be.

[2020-07-29 03:31] #144 closed

[2020-07-29 03:32] abhiTronix commented on #144
@esologic Closed and marked solved for now. Kindly share your results when you're ready. Good luck!

[2020-07-30 13:50] Thomasedv commented on #149
Used testing branch as development is removed at time of writing. Pardon the delayed response.

The option probably works, but ffmpeg crashes due to the option not being deleted from the output parameters before being passed to it.

Also, as per the docs in the referenced commit, the default usage is letting the user provide a boolean, but this is not checked in the actual code, only the existence

[2020-07-30 14:00] abhiTronix commented on #149
Thanks @Thomasedv I'm on it ASAP. On a side note, I thinks you should contribute to this project, if possible, as you understand vidgear code very well. I'm working on streaming feature next, if you can help, i'll much appreciate it.

[2020-07-30 14:09] Thomasedv commented on #149
I'd could have made pull requests for these things, it just that i have no experience when it comes to creating pull requests and such.

While i can say i have a pretty decent understanding of writegear.py, i can't say as much for the rest of VidGear. Streaming isn't my strong side either, but I'm happy to have a look at it, just not sure how much i can actually do.

[2020-07-30 14:20] abhiTronix commented on #149
@Thomasedv the bug is fixed in testing branch, you can check it again. Thanks.

[2020-07-30 15:00] Thomasedv commented on #149
boolean needs to be changed to bool. Crashes otherwise since it's not defined. There's also an edge case if the user provides the termination flag, but not "-i" where that key is not removed. It's not pretty, but the following code is a suggested fix:

[code]

[2020-07-30 16:02] abhiTronix commented on #149
Lmao, I'm too much into java these days. 😆

Yes, this won't work. I need to think something else, as we need `self.__force_termination` to be true whenever `-i` is used.

[2020-07-30 16:16] abhiTronix commented on #149
@Thomasedv I've corrected the bugs, you can give it an another try.

[2020-07-30 16:44] Thomasedv commented on #149
Tested it quickly, and seems to be working.

Thanks again for the good work!

[2020-07-30 22:07] varneyraney opened #152 ""[CamGear:ERROR] :: Source is invalid, CamGear failed to intitialize stream on this source!" RuntimeError: [CamGear:ERROR] :: Source is invalid, CamGear failed to intitialize stream on this source!. When using opencv version 3.3.0 and above"
## Description

I am getting a, RuntimeError: [CamGear:ERROR] :: Source is invalid, CamGear failed to intitialize stream on this source, when I use opencv version 3.3.0 and above on an ubuntu 18.04 VM. Camgear works when I use opencv version 3.2.0

### Acknowledgment

- [x ] I have searched the [issues](https://github.com/abhiTronix/vidgear/issues) for my issue and found nothing related or helpful

[2020-07-31 03:12] abhiTronix commented on #152
This is incomplete. Kindly paste full log to debug the error.

[2020-07-31 03:43] varneyraney commented on #152
My bad I put the wrong url. here is the one that I meant to put:
https://www.youtube.com/watch?v=atzIb1gYOGQ
[code]

[2020-07-31 04:22] abhiTronix commented on #152
@varneyraney  It is a [bug in FFmpeg](https://github.com/abhiTronix/vidgear/issues/133#issuecomment-638263225) provided by OpenCV. **And only possible workaround for this bug is: https://github.com/abhiTronix/vidgear/issues/133#issuecomment-638567443**

[2020-07-31 04:22] #152 closed

[2020-07-31 04:25] abhiTronix commented on #152
That's interesting. I wonder if OpenCV devs changed something critical with FFmpeg backend.

[2020-08-11 17:06] IEWbgfnYDwHRoRRSKtkdyMDUzgdwuBYgDKtDJWd commented on #15
Why are you guys re-encoding the audio/extracting it at all is my question? Unless you are trying to compress the audio stream, you can just use the input file as the second input in the final ffmpeg command. lossless and the same exact stream as the input.

Something like

`from vidgear.gears.stabilizer import Stabilizer
from vidgear.gears import WriteGear
import cv2

url_to_stream = "input.mp4"

[2020-08-11 17:31] abhiTronix commented on #15
@IEWbgfnYDwHRoRRSKtkdyMDUzgdwuBYgDKtDJWd Because they're using old vidgear binaries _(specifically v0.1.6)_.

[2020-08-21 13:31] balavenkatesh3322 opened #153 "How to send OpenCV frames with JSON data?"
How to send OpenCV frames with JSON data.?

client = NetGear(address = '127.0.0.1', port = '5454', protocol = 'tcp',  pattern = 0, logging = True, **options)

Below code, I would like to send frames with JSON data
client.send(frame)

[2020-08-21 14:05] #153 closed, assigned to nobody

[2020-08-22 07:59] balavenkatesh3322 opened #154 "Where log files stored?"
hey,
I want to see my log details of frame transfer details. where the log file stored for vidgear?

Thanks

[2020-08-22 08:11] #154 closed, assigned to nobody

[2020-08-23 20:05] JacobBothell commented on #48
I have followed your example that is in the code and tried to replicate what your function test is doing but i am still not able to stream to a local rtmp server the line i am erroring on is:

writer = WriteGear(output_filename = 'rtmp://localhost/relay/test", logging = True)

i am getting the error:

AssertionError: [WriteGear:ERROR] :: Permission Denied: Cannot write to directory: [...]/rtmp:/lo

[2020-08-24 05:03] abhiTronix commented on #48
@JacobBothell This feature hasn't been merged into master branch yet. **Install vidgear with `testing` branch using these instructions:  https://abhitronix.github.io/vidgear/installation/source_install/#installation.**

[2020-08-26 08:06] nagneff commented on #48
WriteGear :: WARNING :: The given path:`rtmp://192.6.94.12/live/test` does not have write access permission. Skipped!
WriteGear :: DEBUG :: Compression Mode is enabled therefore checking for valid FFmpeg executables.
WriteGear :: DEBUG :: Output_params Dict: {'-vcodec': 'h264_nvmpi'}
Helper :: DEBUG :: Final FFmpeg Path: ffmpeg
Helper :: DEBUG :: FFmpeg validity Test Passed!
Helper :: DEBUG :: Fou

[2020-08-26 08:58] abhiTronix commented on #48
rtmp://192.6.94.12/live/test: Invalid argument

@nagneff You are not defining format for your RTMP stream. **See [FFmpeg StreamingGuide](https://trac.ffmpeg.org/wiki/StreamingGuide) you need `-preset ultrafast -vcodec libx264 -tune zerolatency -b 900k -f mpegts` like parameter _(remember `-f format` is critical)_ at minimum for a valid RTMP stream.**

[2020-08-27 03:31] AlexYiningLiu opened #156 "Real-time stabilization on incoming frames, but not passing capture source object directly into VideoGear"
## Question

Can this code be implemented to work on real-time incoming frames? The frames are not captured by
[code]
Instead, they will be received as numpy arrays through reading from a disk location frame by frame. Can I still use Vidgears to perform stabilization? Thanks.

### Acknowledgment

https://stackoverflow.com/questions/51970072/real-time-video-stabilization-opencv

### Context

### Yo

[2020-08-27 05:31] abhiTronix commented on #156
@AlexYiningLiu Absolutely yes, that what [Stabilizer Class](https://abhitronix.github.io/vidgear/gears/stabilizer/overview/) built for. That's why it is advised to always check [Vidgear Docs](https://abhitronix.github.io/vidgear/) before raising an issue here. Also, please fill [Issue template](https://abhitronix.github.io/vidgear/contribution/issue/) before raising one. See [Stabilizer Class docs

[2020-08-27 05:31] #156 closed

[2020-08-30 16:10] abhiTronix commented on #105
**Successfully resolved and merged in commit 0da8122**

[2020-08-30 16:10] #105 closed

[2020-08-31 00:38] vishram2997 opened #158 "Unable to merge audio and video with WriteGear on window system"
## Description

[code]

### Acknowledgment

- [x] I have searched the [issues](https://github.com/abhiTronix/vidgear/issues) for my issue and found nothing related or helpful.
- [x] I have read the [Documentation](https://abhitronix.github.io/vidgear).
- [x] I have read the [Issue Guidelines](https://abhitronix.github.io/contribution/issue/).

### Environment

* VidGear version:
* Branch:
* Python

[2020-08-31 03:49] abhiTronix commented on #158
@vishram2997 try using `'audio=Microphone (Realtek(R) Audio)'` instead of `'audio="Microphone (Realtek(R) Audio)"'`

[2020-08-31 04:28] vishram2997 commented on #158
@abhiTronix  Thanks ,Now I don't get error but I am not getting voice on server side using bidirectional.

[2020-08-31 04:31] abhiTronix commented on #158
@vishram2997 you cannot send audio data with NetGear.

[2020-08-31 04:31] abhiTronix commented on #158
@vishram2997 Please example what you're trying to achieve and what is your setup?

[2020-08-31 04:32] vishram2997 commented on #158
@abhiTronix I am trying to build video chat system.

[2020-08-31 04:33] abhiTronix commented on #158
@vishram2997 with audio?

[2020-08-31 04:33] vishram2997 commented on #158
@abhiTronix yes like normal video call.

[2020-08-31 04:35] abhiTronix commented on #158
Try this example: https://gist.github.com/lmNt/68994a58b022f2217571, does it works?

[2020-08-31 04:37] vishram2997 commented on #158
@abhiTronix  I want to send video + audio. this one is only to send audio.

[2020-08-31 04:38] abhiTronix commented on #158
@vishram2997 I know, but If this example works, then you can modify NetGear to work like this,

[2020-08-31 04:41] abhiTronix commented on #158
**@vishram2997 This issue is no longer related to problem you described in Title, so I'm closing it.** Please continue discussion on our [Gitter community channel](https://gitter.im/vidgear/community?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge), you can join there.

[2020-08-31 04:41] #158 closed

[2020-08-31 17:41] abhiTronix commented on #105
**StreamGear Docs can be found here: https://abhitronix.github.io/vidgear/gears/streamgear/overview/**

[2020-09-09 09:24] idanmosh opened #159 "processed frames web streaming"
Hey,
First of all thank for great repo.
I am connecting to an IP camera via VidGear, grab frame by frame, processed them on my local computer(e.g object detection) and want to stream that frames in real-time to AWS EC2 computer in order that my clients(react's app) will can see the processed frame's(e.g frame with bounding box).
I followed the whole documentation and see that there is module's for

[2020-09-09 13:41] abhiTronix commented on #159
**Use any [VideoCapture Gears](https://abhitronix.github.io/vidgear/gears/#a-videocapture-gears).**

VideoGear is a video-processing library, so **you need to use third-party ML/DL library for object detection.**

**You don't need WebGear for this task, but [WriteGear API](https://abhitronix.github.io/vidgear/gears/writegear/introduction/) _(that supports Streaming URLs with its [Compression Mode:

[2020-09-10 02:21] abhiTronix commented on #159
**@idanmosh Marked Solved for now. Kindly share if it works when you ready. Goodluck!**

[2020-09-10 02:21] #159 closed

[2020-09-10 07:17] idanmosh commented on #159
Hey, thnak's for your response. i try your ffmpeg command and it's not work. i get this error:
Error initializing filter 'scale' with args 'trunc(oha/2)2:720:flags=bicubic:sws_flags=lanczos+accurate_rnd'
Error reinitializing filters!
Failed to inject frame into filter network: Invalid argument
Error while processing the decoded data for stream #0:0
Conversion failed!
WriteGear :: ERROR :: BrokenPi

[2020-09-10 11:19] abhiTronix commented on #144
You must not copy the exact example, i meant to take ideas from it for building a RTMP stream pipeline. Btw you need to replace `output_params` with suitable FFmpeg parameters, in case if you wonder what's wrong, such as follows:

[code]

[2020-09-10 11:22] abhiTronix commented on #159
You must not copy the exact example, i meant to take ideas from it for building a RTMP stream pipeline. Btw you need to replace `output_params` with suitable FFmpeg parameters, in case if you wonder what's wrong, such as follows:

[code]

[2020-09-22 00:02] gembancud commented on #146
Hi, this library is WONDERFUL and is a LIFESAVER!
I am having a similar case with op. I have an edge device running a client(netgear_async, receive_mode=false) that
pushes frames to a server (neatgear_async, receive_mode=true & webgear) on my computer. Unfortunately, I haven't found a way to mix a netgear_async and webgear together. I would highly appreciate your help! 😅

[2020-09-29 05:53] abhiTronix opened #160 "Add support for various video/live-streams services(Twitch.tv, Livestream, Dailymotion etc.) in CamGear API"
## Detailed Description

This Proposal to add feature for pipelining video-frames from various services(Twitch.tv, Livestream, Dailymotion etc.) in CamGear API, just by passing video/live-streams URL as input to its `source` parameter.

### Context

CamGear API currently only supports YouTube video/live-streams URLs, but we this proposal we're looking forward to extend it to all major video servic

[2020-09-30 13:12] vgoof opened #161 "Re-connecting in __recv_handler throws exception in multi-server mode"
## Description

When you follow the example of multi-server mode, the code crashes when you try do not have any server connected upon re-connecting.

### Acknowledgment
- [x] I have searched the [issues](https://github.com/abhiTronix/vidgear/issues) for my issue and found nothing related or helpful.
- [x] I have read the [Documentation](https://abhitronix.github.io/vidgear).
- [x] I have read the

[2020-09-30 13:43] abhiTronix commented on #161
@vgoof Thanks for explaining this bug report and purposing it solution. It is indeed a bug in NetGear API, and is been worked on. Please wait I'll push related PR soon and will notify you here to test it as sooner as possible.

[2020-10-09 16:41] balavenkatesh3322 opened #162 "Can we use this library in app engine?"
Can we use this library in the app engine?  I would like to receive frames in the app engine server.

[2020-10-10 00:57] abhiTronix commented on #162
Discuss simple queries on Gitter chat : https://gitter.im/vidgear/community?utm_source=notification&utm_medium=email&utm_campaign=unread-notifications

[2020-10-10 00:58] #162 closed

[2020-10-13 00:01] masterchop opened #163 "its not working with OpenCV 4.3.0"
I get this error:

   "[Vidgear:ERROR] :: Installed OpenCV API version(< 3.0) is not supported!"
ImportError: [Vidgear:ERROR] :: Installed OpenCV API version(< 3.0) is not supported!

but i am working with OpenCV 4.3.0

[2020-10-13 02:44] abhiTronix commented on #163
@masterchop **Not enough information**,  I need the complete terminal log from from machine. Also, I need to know the OS,  vidgear and python version you're working on.

@masterchop **No, It means it is using old copies of OpenCV binaries on your system. It is certainly not v4.3.0,and to confirm that, add following lines to your python script:**

[code]

**run it, and then paste the terminal outpu

[2020-10-13 02:58] abhiTronix commented on #163
Also it is working fine on CI tests https://travis-ci.com/github/abhiTronix/vidgear/jobs/379911391#L5339 and https://ci.appveyor.com/project/abhiTronix/vidgear/build/job/803n5a5qwci8bm9v?fullLog=true#L48, so problem is obiously on your end only.

[2020-10-13 08:32] #163 closed

[2020-10-15 17:34] abhiTronix opened #165 "StreamGear API Limited Segments Bug"
## Description

Currently, There's a bug in StreamGear API which only allow limited chunks/segments upto 10 only _(controlled by `-window_size` and `-extra_window_size` ffmpeg parameter that defaults to 5 each)_, which results in overwritten chunks after every fixed 10 chunks cycle that doesn't contains any information about previous ones. This behaviour is suitable for low latency Live Streaming

[2020-10-24 10:04] abhiTronix opened #166 "Notice Regarding Youtube-DL"
### What happened?

One of the critical dependencies `youtube-dl` of this project's dependent package [`pafy`](https://github.com/mps-youtube/pafy) used for pipelining live YouTube videos, has been removed due to a DMCA takedown by RIAA. **For more information please refer to the official notice from Github: [Youtube-dl DMCA](https://github.com/github/dmca/blob/master/2020/10/2020-10-23-RIAA.md) N

[2020-10-24 11:50] #166 closed

[2020-11-07 06:52] abhiTronix commented on #161
**Successfully resolved and merged in commit: https://github.com/abhiTronix/vidgear/commit/e74e2a54a5a5f62c26e069f944a650d3e3afc40a**

[2020-11-07 06:52] #161 closed

[2020-11-07 06:52] abhiTronix commented on #165
**Successfully resolved and merged in commit: https://github.com/abhiTronix/vidgear/commit/e74e2a54a5a5f62c26e069f944a650d3e3afc40a**

[2020-11-07 06:52] #165 closed

[2020-11-11 11:48] timoburmeister opened #167 "vidgear on a headless jupyter notebook - saving output with writegear"
Hi guys,

thanks for this amazing library.

I have two issues which I can't get figured out.

Since I'm working on a IBM Watson jupyter notebook environment it's necessary to use openvc in headless mode so I can avoid a libgl ImportError due to the missing GUI.
Furtermore, I cannot use cv2.imShow due to that headless env.
That's why I use matplotlib to show the frame. My issues here are first that

[2020-11-11 16:34] abhiTronix commented on #167
@timoburmeister Is it necessary to `imshow()` for your application? If not, just drop it.

Path with not work in an notebook environment. You have to provide full-path to the directory you want to save your output to. So it you want to store it to home directory, then you have to do as follows:

[code]
This is a bare-minimum python example you need write. Goodluck and Share your result here.

[2020-11-11 16:48] abhiTronix commented on #167
@timoburmeister Also, YouTube Mode (`y_tube=True`) will not work as the dependency `youtube-dl` is now removed due to a DMCA. **See issue #166** . Therefore use a video source (file or webcam) instead of this.

[2020-11-12 04:06] #167 closed

[2020-11-23 20:30] imranilyas commented on #16
I'm using CamGear and the following live youtube url: https://www.youtube.com/watch?v=ZWcV3g23c8Y&ab_channel=CNN-News18

After about 40 seconds, the livestream terminates and I get the following errors:
[tls @ 000001835c367600] Unable to read from socket
[tls @ 000001835c398580] Failed to send close message
[tls @ 000001835c394e40] Unable to read from socket
[tls @ 000001835c394ac0] Failed to send

[2020-11-24 04:22] abhiTronix commented on #16
@imranilyas Bug in FFmpeg, see Issue https://github.com/abhiTronix/vidgear/issues/133. Being worked on in issue #160

[2020-11-25 18:11] imranilyas commented on #16
This is what comes up when I run print(cv2.getBuildInformation())
Since GStreamer isn't available, what can I use as a substitute for the
backend parameter in the CamGear function?

Video I/O:
    DC1394:                      NO
    FFMPEG:                      YES (prebuilt binaries)
      avcodec:                   YES (58.54.100)
      avformat:                  YES (58.29.100)
      avutil:

[2020-11-26 06:08] abhiTronix commented on #16
backend parameter in the CamGear function?

@imranilyas Nothing else works for now, you have to wait for #160 to be resolved.

[2020-12-01 03:52] abhiTronix opened #168 "Docs Versioning"
## Detailed Description

Currently VidGear Docs doesn't provide versioning. So we'll see for easy ways to implement the same.

### Context

This issue will track, search and attempt to provide Elegant Docs Versioning for vidgear, which is simple, and most important easier to implement.

### Your Current Environment

* VidGear version: latest
* Branch: Development
* Python version: all
* Operating

[2020-12-01 04:21] abhiTronix opened #169 "New Flexible ScreenGear Backend"
## Detailed Description

Vidgear's [ScreenGear](https://abhitronix.github.io/vidgear/gears/screengear/overview/), a class designed exclusively for ultra-fast Screencasting works on [python-mss](https://github.com/BoboTiG/python-mss) python library, which works exceptionally well in some cases, but isn't optimized enough for every platform. So we'll attempt to move onto another library with multi-b

[2020-12-07 01:44] whogben opened #171 "Possible to send/receive frame metadata (eg capture time) via netgear?"
## Question

Is it possible to send arbitrary metadata along with the video frames via netgear, for example a frame number to sync up frames with other data?

### Acknowledgment

- [x] I have searched the [issues](https://github.com/abhiTronix/vidgear/issues) for my issue and found nothing related or helpful.
- [x] I have read the [FAQs](https://abhitronix.github.io/vidgear/help/get_help/#frequent

[2020-12-07 03:19] whogben commented on #171
I apologize, I missed this when I was looking in the documentation:

https://abhitronix.github.io/vidgear/gears/netgear/advanced/bidirectional_mode/

This question issue can be closed.

[2020-12-07 04:50] #171 closed

[2020-12-07 04:55] abhiTronix commented on #171
@whogben There's no additional latency unless the data being sent along with frames is huge or your network bandwidth is small or vice versa. Plus, it never waits for messge/data when sending frames, API is smart enough to sense data and then just sends without any delay in sending frames, both works independently.  Also,there's no need to mix netgear with netgear_async, as it may cause more delay

[2020-12-07 04:59] abhiTronix commented on #171
@whogben join our [Gitter Chat](https://gitter.im/vidgear/community?utm_source=notification&utm_medium=email&utm_campaign=unread-notifications), for discussing simple queries.

[2020-12-07 13:22] abhiTronix commented on #169
**Successfully resolved and merged in commit: https://github.com/abhiTronix/vidgear/commit/542ae4b92f33b345549ac1b915ac38f5ba00c847**

[2020-12-07 13:22] #169 closed

[2020-12-08 03:59] abhiTronix opened #172 "Stablilizer Error: (-215:Assertion failed) count >= 0 && count2 == count in function 'cv::RANSACPointSetRegistrator::run'"
## Description

**Issue by @Nizcik_twitter**

I am trying to stabilize live video feed and I think this is amazing tool for that. However I am running to issue where stabilization fails due to OpenCV error and I am not sure how to troubleshoot further. I am not experienced at all on python or coding so I apologize if there is obvious steps that I should have taken. I am on Ryzen 3600 CPU and windo

[2020-12-08 07:22] imranilyas commented on #133
I tried the sample code provided above with a different url: https://www.youtube.com/watch?v=_fqpYLM6SCw&ab_channel=TheAIGuy

I have Gstreamer installed and the version(1.18.1) is displayed when I typed cv2.getBuildInformation()
This is the error I'm experiencing:

![image](https://user-images.githubusercontent.com/68575807/101452517-9f38db80-38e2-11eb-9209-fe8c32d82884.png)

[2020-12-08 09:32] kamarisoim opened #174 "still got ModuleNotFoundError"
File "D:\workspace\ripcio.prj\testarea\vidgear.py", line 6, in <module>
    from vidgear.gears import CamGear
ModuleNotFoundError: No module named 'vidgear.gears'; 'vidgear' is not a package

I've tried everything........

[2020-12-08 09:45] kamarisoim commented on #174
Sorry...settled...I used vidgear.py for my filename
change to vdg.py ....then everything OK
Thank you

[2020-12-08 09:45] #174 closed

[2020-12-08 09:50] abhiTronix commented on #174
**@kamarisoim There's already similar issue #140 & #150 that are resolved. Kindly search previous issues before opening a new one.**

[2020-12-08 10:08] abhiTronix commented on #133
@imranilyas First of all, you don't need to enable **Gstreamer** backend for non-live streams. Being said that there's a bug in CamGear which recently got fixed in `testing` branch. Therefore, To eliminate this error, you can install the latest `testing` branch as follows:

**Remember on Windows OS:** _You'll also need to install Git for Windows (if you haven't already): https://gitforwindows.org/

[2020-12-08 17:41] abhiTronix commented on #172
**Successfully resolved and merged in commit https://github.com/abhiTronix/vidgear/commit/4f93df0a44345139b58f3180c2068c8f2e49e756**

[2020-12-08 17:41] #172 closed

[2020-12-08 18:58] imranilyas commented on #133
@abhiTronix I tried what you suggested and I am still experiencing the same error I was before when testing with a YouTube livestream. This only occurs when I have backend=cv2.CAP_GSTREAMER. When I remove it, the normal timed videos run fine. However, I need the livestreams which is why I need Gstreamer. Is there something I have to do with Gstreamer in order to get it piped in?

Livestream url: h

[2020-12-09 04:53] abhiTronix commented on #133
@imranilyas What's the output of `python -c "import vidgear; print(vidgear.__version__)"` command?

[2020-12-09 16:46] Nizcik opened #175 "Utilizing Cuda cores for frame stabilization"
As the frame size is increased  - Stabilization starts to experience delay.  This possibly could be improved by utilizing Cuda cores of Nvidia GPUs

## Detailed Description
I have performed stabilization tests on live-feed with different resolutions and noticed that low resolution frames get processed smoothly even if the CPU (Ryzen 3600) has high utilization. When the resolution is increased to 7

[2020-12-09 18:38] imranilyas commented on #133
Output is 0.1.9
When I check pip list, it says 0.2.0.dev2

[2020-12-10 06:52] hfmsite opened #176 "vidgear write mjpeg insted of hevc"
I replace my opencv videoWriter with vidgear.
a lot of time it realy encode with hevc but few time it encode as mjpeg (70mb for 5 sec of video - 720P)

version 0.1.9

why it happend?

the code I used:
[code]

[2020-12-10 09:22] abhiTronix commented on #176
@hfmsite This is incomplete. I need one terminal log from each situation when "it encode as mjpeg" and "it worked normally". Only then anyone can see what is happening.

This also incomplete, I at least need to what source your using for frames, and why `"-b": "2500k"` why you choose that. Also,  what's the value of `file_dict` and other values in  `files_dict[file_point]["output_filename"] + ".mp

[2020-12-10 13:12] hfmsite commented on #176
first thank's for the answer.
(as you understand English isnt my native language).

I try the h264_nvenc - with vidgear - for same task in bare minimum - it work - (give me around 2-2.5 MB file.)

for the input I use FHD video file that I get from other source - open it with regular opencv VideoCapture

the: "files_dict[file_point]["output_filename"] + ".mp4"" isn't very importent it just give a f

[2020-12-10 13:59] abhiTronix commented on #176
@hfmsite Same here buddy., English is not my native language too. But as a programmer, I can understand what other is saying by looking at the code or if adequate information is provided. Being said that you can use Google translator to interpret what I'm saying anytime.

**I asked for this above, but you didn't provided it in your comment, so it difficult to debug the problem. I need terminal log

[2020-12-10 19:27] hfmsite commented on #176
hello again.
first  - the full code - is very complicated and very long - this file only have more then 1500 lines - and it include other file
with lot of dependencies.
so - the full code, isnt relevant.
the logging is on - but because it have flask turn on - all the std-out doesnt show.
can the vidgear write the log to a file? - so i can add here the full vidgear logs.

[2020-12-11 03:09] bml1g12 opened #177 "Is writing video clips with variable frame rate possible with vidgear?"
Just wondering if it is possible to write video clips with variable frame rate if one knows the time interval between each frame when the input is numpy arrays?

Thanks!

[2020-12-11 03:31] abhiTronix commented on #176
This is the most riduclous thing i ever hear. What do you mean by complex code? I have 10000+ lines of code in this repo. This is utter non-sense.

@hfmsite You can easily enable logging inside flask. You're just being ignorant.

 I'm closing this issue now. Provide any relevant data/log to prove this issue.

[2020-12-11 03:31] #176 closed

[2020-12-11 03:35] abhiTronix commented on #177
@bml1g12 If you can do that with `FFmpeg`. Then answer is yes otherwise no.

[2020-12-11 03:37] #177 closed

[2020-12-11 07:55] wpcasarin opened #178 "VidGear with v4l2loopback"
Is possible to use the module with `v4l2loopback`? I've working for a while without success, I'm trying to send the `NetGear` output trough `ffmpeg` with the `tcp` protocol but without success. Would be nice if the somehow the module had the capability to write strait to the `v4l2loopback` devices. Anyway the `vidgear` is simplifying thing a lot, thank you for the hard work.

[2020-12-11 08:29] abhiTronix commented on #178
@wpcasarin Yes, you can easily with [WriteGear API's Compression Mode](https://abhitronix.github.io/vidgear/gears/writegear/compression/overview/) with `FFmpeg` backend, that supports URLs. See an twitch example [here](https://github.com/abhiTronix/vidgear/issues/144#issuecomment-657985607) and convert it according to your need for `v4l2loopback`.

[2020-12-11 08:29] #178 closed

[2020-12-11 18:20] abhiTronix commented on #133
@imranilyas There are two `pip` package installation sites installed on your computer. How did you installed vidgear, and did you used `sudo`?

[2020-12-11 18:58] imranilyas commented on #133
@abhiTronix I installed vidgear through pip install. I did not use sudo.

[2020-12-12 15:19] abhiTronix commented on #133
@imranilyas Sorry, Yeah I was wrong, and unintentionally I gave you half instructions to solve this problem. **You need  to use `options={"FORCE_YTUBE_VAMODE":True}` flag for these special kind of YouTube videos _(that doesn't have 1080p video+audio streams) _, as follows:**

[code]
**Try this code and this must solve your problem. Please report your result here too,**

[2020-12-14 12:17] abhiTronix opened #179 "Python 3.9 Support for VidGear"
## Detailed Description

This issue will track implementation of official support for for new python v3.9 series in VidGear through testing it in various CIs environments.

### Context

Following citical python dependencies for vidgear now have Python-3.9+ support:
- [x]  `opencv-python`:  since version - [`4.4.0.46`](https://github.com/skvark/opencv-python/releases/tag/46)
- [x] `numpy`:  since v

[2020-12-14 13:11] abhiTronix opened #180 "Replace Travis CI with Github Actions"
## Detailed Description

Testing Open-Source library is not possible under Travis CI  due to new changes in [Travis credit  system](https://docs.travis-ci.com/user/billing-overview/), that's going into negative just after 4-5 runs. Let's ditch it in favour of reliable GitHub Actions and Azure Pipelines (for macOS).

### Progress:

- [ ] Linux _(in progress)_
- [ ] MacOS _([Azure Pipeline](https://

[2020-12-14 20:01] imranilyas commented on #133
@abhiTronix I tried the above solution with the same YouTube video link and this is the error I receive, the same error as before. When I remove `backend=cv2.CAP_GSTREAMER` and have a YouTube livestream as the source, I get these errors after the livestream runs for a couple of seconds.
[tls @ 000001d3aac4c880] Unable to read from socket
[tls @ 000001d3aac6d980] Failed to send close message

![ima

[2020-12-15 05:41] abhiTronix commented on #133
@imranilyas It is working all fine here, even tested on different machines. I can even record everything for your convenience if you like.

Yeah, that's why we are working on issue #160. You can wait for it as it will solve it.

[2020-12-15 05:46] abhiTronix commented on #133
@imranilyas Can you do following and try again:
[code]

[2020-12-16 20:39] imranilyas commented on #133
@abhiTronix Sorry for the late response. I'm using Git/Bash which neither supports sudo nor apt-get. I upgraded by downloading from the source for both gstreamer(1.18.2) and OpenCV(4.5.0) and compiled OpenCV using Visual Studio 2017. However, it still did not work.

Then, I tried using the command prompt and it WORKED! Thank you for all your help. I'm still not sure why it works on the Command Pro

[2020-12-18 10:11] abhiTronix opened #182 "Enable Logging file to a file"
## Detailed Description

Add a new parameter to enable Logging file to a file in VidGear.

### Context

VidGear logging missing logging to a file. Let's implement that too.

### Your Current Environment

* VidGear version:  v0.2.0
* Branch:  development
* Python version:  all
* Operating System and version: all

[2020-12-21 15:50] abhiTronix commented on #168
**Partially resolved in commit https://github.com/abhiTronix/vidgear/commit/d0dfd90408eb301a2199320af4f7a8c3aa8b462c**

[2020-12-21 15:50] #168 closed

[2020-12-25 10:18] abhiTronix commented on #133
This issue cannot be resolved at this moment as vidgear as we need to [**patch FFmpeg itself**](https://github.com/zaps166/QMPlay2/issues/139) first to progress further, thereby need we'll work on this after #148 is done. The required patch can be found here: http://git.videolan.org/?p=ffmpeg.git;a=commitdiff;h=a606f27f4c610708fa96e35eed7b7537d3d8f712

[2020-12-26 04:53] abhiTronix commented on #133
**Temporarily Resolved in commit https://github.com/abhiTronix/vidgear/commit/bf1b8aabd0a21543570457e8aeb7775339611b18 and now no need to specify GStreamer backend(`cv2.CAP_GSTREAMER`) manually, CamGear automatically enforces it.**

[2020-12-29 10:24] abhiTronix commented on #182
**Successfully resolved and merged in commit https://github.com/abhiTronix/vidgear/commit/b31ca589cb0d7c56a8cf91404ab6ea43402742a5**

[2020-12-29 10:24] #182 closed

[2020-12-29 10:25] abhiTronix commented on #160
**Successfully resolved and merged in commit https://github.com/abhiTronix/vidgear/commit/b31ca589cb0d7c56a8cf91404ab6ea43402742a5**

[2020-12-29 10:25] #160 closed

[2020-12-30 05:47] abhiTronix commented on #154
You can now log to a file. **Successfully resolved in commit https://github.com/abhiTronix/vidgear/commit/b31ca589cb0d7c56a8cf91404ab6ea43402742a5**

[2020-12-30 11:11] abhiTronix commented on #180
**Successfully resolved and merged in commit https://github.com/abhiTronix/vidgear/commit/d86a299ad37b4e2071a9bb548b771e40cf6e2d6c**

[2020-12-30 11:11] #180 closed

[2020-12-30 11:11] abhiTronix commented on #179
https://github.com/abhiTronix/vidgear/commit/d86a299ad37b4e2071a9bb548b771e40cf6e2d6c

[2020-12-30 11:11] #179 closed

[2020-12-31 12:01] esmaily opened #185 "How use vidgear django and build docker image?"
# I'm using django with docker for project but when add vidgear and opencv-python in requirments.txt file when
build image occer this error

![opencv-python erorr](https://www.mediafire.com/convkey/e23c/iihrkfnus4dkf1ozg.jpg)
 ![vidgear error ](https://www.mediafire.com/convkey/0009/vdz5b53iqg59ficzg.jpg)

### My Environment
* VidGear version: 0.1.9
* django:3.1.4
* pytz:2020.4
* Python version: 3

[2020-12-31 12:20] abhiTronix commented on #185
@esmaily Alpine is not manylinux1-compatible, so any package containing C extensions must be built from source. This means you have to install the build tools first. Also use alpine image instead of  `python:3.9.1-alpine` or `python:3.8.3-alpine`:

[code]

[2020-12-31 12:21] #185 closed

[2020-12-31 18:51] esmaily commented on #185
thank you solved

[2021-01-01 08:23] abhiTronix opened #187 "Locked-on stabilization effect with Stabilizer"
## Detailed Description

I found this nice technique on reddit that uses Optical flow with Object tracker to implement Locked-on stabilization effect.

https://www.youtube.com/watch?v=Qnc2msk282M&feature=youtu.be

### Context

Locked-on stabilization effect will be a quiet great addition to vidgear's own [Stabilizer Class](https://abhitronix.github.io/vidgear/latest/gears/stabilizer/overview/).

#

[2021-01-01 11:37] esmaily opened #188 "CalledProcessError at /teaches/api/v1/admin/video-upload"
## Description

django project after upload video and  use streamgear occer this erorr
 `CalledProcessError at /teaches/api/v1/admin/video-upload
Command '['ffmpeg', '-y', '-hide_banner', '-i', '/usr/src/app/media/upload/2021/01/1609541608-vide-finnanc.mp4', '-vcodec', 'libx264', '-vf', 'format=yuv420p', '-aspect', '0', '-crf', '18', '-tune', 'zerolatency', '-preset', 'ultrafast', '-acodec', 'aac'

[2021-01-01 12:37] abhiTronix commented on #188
Your video source is not valid. It contains only audio and no video.

[2021-01-01 12:48] abhiTronix commented on #188
@esmaily Also check what's the output of command `ffprobe -i /usr/src/app/media/upload/2021/01/1609541608-vide-finnanc.mp4` and paste it in the comment here.

[2021-01-01 19:47] esmaily commented on #188
Why not valid path?

this output after run command  `$ ffprobe -i /usr/src/app/media/upload/2021/01/1609541608-vide-finnanc.mp4`
`# ffprobe -i /usr/src/app/media/upload/2021/01/video-finance.mp4
ffprobe version 4.1.6-1~deb10u1 Copyright (c) 2007-2020 the FFmpeg developers
  built with gcc 8 (Debian 8.3.0-6)
  configuration: --prefix=/usr --extra-version='1~deb10u1' --toolchain=hardened --libdir=/u

[2021-01-01 19:51] esmaily commented on #188
after enable sreamgear logging:
`ValueError
[StreamGear:ERROR] :: Kindly provide a valid `output` value. Refer Docs for more information.
/usr/local/lib/python3.8/site-packages/vidgear/gears/streamgear.py, line 225, in __init__
/usr/local/bin/python
3.8.3

`

[2021-01-01 21:07] esmaily commented on #188
running `ffmpeg -i video-finance.mp4 -filter_complex "[0]split=6[mid0][mid1];[mid0]scale=320:-1[out0];[mid1]scale=640:-1[out1]" -map [out0] -map 0:a -map [out1] -map 0:a -c:a aac -c:v:0 libx264 -c:v:1 libvpx-vp9 -use_timeline 1 -use_template 1 -window_size 6 -adaptation_sets "id=0,streams=v  id=1,streams=a" -hls_playlist true -f dash output.mpd`
 in bash **it works** but run this command in projec

[2021-01-02 02:18] abhiTronix commented on #188
ValueError [StreamGear:ERROR] :: Kindly provide a valid output value. Refer Docs for more information. /usr/local/lib/python3.8/site-packages/vidgear/gears/streamgear.py, line 225, in __init__ /usr/local/bin/python 3.8.3

@esmaily **That's all? I need complete output from commandline to debug what is happening.** Also check if path `/usr/src/app/media/upload/` exist or not? If not run command `mkd

[2021-01-02 02:21] abhiTronix commented on #188
in bash it works but run this command in project with subprocess occer this error

That is because you didn't formatted your command as list. This has nothing to do with why it is not working inside StreamGear, also you're using `output.mpd` instead of `/usr/src/app/media/upload/output.mpd` that's why this is working. Make sure output.mpd has a valid path and everything will be OK.

[2021-01-02 03:19] abhiTronix commented on #188
@esmaily Thanks for this output, indeed there was a regex bug in parsing multiple streams, I've pushed a commit to fix it. You can try this fix by running following commands:

[code]

[2021-01-02 03:37] abhiTronix commented on #188
Also what's this `-filter_complex "[0]split=6[mid0][mid1];[mid0]scale=320:-1[out0];[mid1]scale=640:-1[out1]"` for?

[2021-01-02 06:42] #188 closed

[2021-01-02 06:49] abhiTronix commented on #188
@esmaily so you solved it?

[2021-01-02 06:52] esmaily commented on #188
yeh exist file and directory even i checked with os.path.isfile

[2021-01-02 06:55] abhiTronix commented on #188
@esmaily  Is path `/usr/src/app/media/upload ` path exist? If yes then paste the output of `logging = True`. Also if it ispossible if i can see your docker file, then share it too.

[2021-01-02 06:59] abhiTronix commented on #188
@esmaily Try directly in the working directory, like `output="output.mpd"` and see what happens. Does it works?

[2021-01-02 07:01] abhiTronix commented on #188
Also, follow instructions given in comment https://github.com/abhiTronix/vidgear/issues/188#issuecomment-753424201

[2021-01-02 07:35] rapierbit opened #189 "conflict between opencv3 and opencv4? no attribute 'y_tube'"
Not sure this is a bug, hence filing as a question.

I'm very new to vidgear but I have gotten it to work in a very specific circumstance for a root user, but not for a non-root user. I'm trying to use your [baseline example](https://stackoverflow.com/questions/37555195/is-it-possible-to-stream-video-from-https-e-g-youtube-into-python-with-ope/55937170#55937170) to stream from youtube using Raspbe

[2021-01-02 07:40] abhiTronix commented on #189
`y_tube` has been changed to `stream_mode` in latest `v0.2.0`, see [CamGear Docs Example](https://abhitronix.github.io/vidgear/latest/gears/camgear/usage/#using-camgear-with-youtube-videos).

[2021-01-02 07:40] #189 closed

[2021-01-02 07:49] abhiTronix commented on #189
@rapierbit Thanks, Stackoverflow example updated too.

[2021-01-03 06:21] abhiTronix commented on #188
Marked **invalid** until requested information is provided.

[2021-01-03 13:47] esmaily commented on #188
it works when use only string for file name. i use version  0.1.9.

[2021-01-03 13:59] esmaily commented on #188
I'm review this [issue](https://github.com/abhiTronix/vidgear/issues/106) not understand use hls and generate .m3u8

[2021-01-03 14:08] abhiTronix commented on #188
I don't understand this what you mean by this.

[2021-01-03 14:09] abhiTronix commented on #188
HLS is another streaming format just like DASH. This issue is to add that feature to StreamGear.

[2021-01-03 14:12] esmaily commented on #188
if filename english string not error

[2021-01-03 14:12] esmaily commented on #188
How use?

[2021-01-03 14:20] esmaily commented on #188
also [vidgear](https://abhitronix.github.io/vidgear/latest/gears/streamgear/overview/) website have bug in ios   for example video

![screen shot my iphone](https://www.mediafire.com/convkey/18ac/88ct9iw4n2nxbwmzg.jpg?size_id=8)

[2021-01-03 14:21] abhiTronix commented on #188
That's not a  argument, filename works flawlessly in all three platforms including Linux, Windows and MAcOS. So your argument doesn't hold good. You either don't have write access to that directory or you're making some silly mistake in code. Also I don't know Telepathy so I can't tell anything without a log.

You can't . It's not implemented yet.

[2021-01-03 14:22] abhiTronix commented on #188
Nope, it is a bug of your browser. Try Chrome or Mozilla instead.

[2021-01-03 14:26] esmaily commented on #188
my use **FROM python:3.8.3-slim-buster** and vidgear **vidgear==0.1.9**

[2021-01-04 13:21] abhiTronix commented on #175
@Nizcik Can you provide raw un-stablized 720p footage here directly _(GitHub comments now support video attachments)_ or YouTube or else way. I need to run some tests.

[2021-01-05 12:33] Nizcik commented on #175
@abhiTronix Here you go. There was limit of 10mb uploading directly to github

https://mega.nz/folder/GARTySKI#i1Vm6HKB92AlLSzWJW-T0g

1080p footage was also 5 minutes, but it got very laggy at the end so I cut that to 1 minute. Let me know if you need more footage or if this is not good enough.

Happy new year!

[2021-01-06 17:01] abhiTronix commented on #175
@Nizcik Could perform same test as before .i.e.  [Video demonstrating the behavior with time stamps](https://youtu.be/ysvaSvLdjLE) by installing latest vidgear that uses experimental `Queue` instead of `deques`, and see if this made any difference. You can install latest vidgear development branch as follows:

[code]

After installation run those test with `720p` video input. Thanks in Advance.

[2021-01-08 06:50] orpinchasov opened #190 "Small error in documentation of NetGear"
In NetGear's documentation page in the primary modes of operations section:
https://abhitronix.github.io/vidgear/latest/gears/netgear/overview/#primary-modes

it says that the user should set receive_mode to True in both sections. I guess it should be False for send mode.

[2021-01-08 07:09] abhiTronix commented on #190
Thanks, but for next time please reach us through our [Gitter Community channel](https://gitter.im/vidgear/community) for submitting any typos. More information can be found in [Submission Contexts](https://abhitronix.github.io/vidgear/contribution/#submission-contexts)

[2021-01-08 07:13] orpinchasov commented on #190
Right, sorry.

[2021-01-08 07:17] abhiTronix commented on #190
**Successfully resolved in commit https://github.com/abhiTronix/vidgear/commit/a35c5a6d77bd2d1b12733e135c9b6127f8e880a1**

[2021-01-08 07:17] #190 closed

[2021-01-10 21:55] whogben opened #191 "(please disregard)"
(please disregard)

[2021-01-10 22:00] #191 closed

[2021-01-12 09:17] morestart opened #193 "How can i ues it in deeplearning?"
when i use this project in my dl project, the rtsp strame tape casting time is high... And it also jumps frames.

[2021-01-12 09:57] abhiTronix commented on #193
@morestart No proper context, no example code, or understandable argument provided. Kindly reedit this issue and provide relevant information, or else this issue will be closed and marked invalid.

[2021-01-12 14:03] abhiTronix commented on #193
**I'm closing this issue now. Provide any relevant data/log to prove this issue.**

[2021-01-12 14:03] #193 closed

[2021-01-13 07:33] abhiTronix commented on #182
**Doc for logging to a file can be found here:** https://abhitronix.github.io/vidgear/latest/help/general_faqs/#how-to-log-to-a-file-in-vidgear

[2021-01-14 05:24] morestart commented on #193
thanks, i write a video process program by myself

[2021-01-17 14:23] abhiTronix commented on #175
@Nizcik Any updates on this?

[2021-01-18 16:20] Nizcik commented on #175
Sorry, I noticed your message only now. I made a quick test and it seemed that there is slight improvement. Still now when I loaded the cpu a bit more I experienced a lag. However with light CPU usage 720p 30fps seemed to stabilize in real time.

I will try to do a longer field test tomorrow and let you know.

Just a note, I experimented with lower resolutions also earlier and I got lag even with

[2021-01-18 16:31] abhiTronix commented on #175
@Nizcik CamGear now utilizes all CPU cores with this queue approach. That's why it is hanging a bit. I'll advise to remove
[code]

from your code to improve performance significantly.

Did you checked the CPU utilization? Add a [CPU widget if on Windows 10](https://www.microsoft.com/en-in/p/widget-launcher/9wzdncrdqfbt?activetab=pivot:overviewtab), and a [GPU monitor](https://blogs.windows.com/win

[2021-01-19 10:04] tms2003 opened #194 "How can get status for CamGear and How to reconnect it ?"
Dear sir,
How to get status for CamGear when input is a stream like rstp.When network broke,How to reconnect it ?

[2021-01-19 10:19] abhiTronix commented on #194
@tms2003 Please reach us through our [**Gitter Community channel**](https://gitter.im/vidgear/community) for discussing simple queries like this. I'll answer there.

[2021-01-19 10:19] #194 closed

[2021-01-19 11:08] abhiTronix commented on #194
@tms2003 Here's your code https://gitter.im/vidgear/community

[2021-01-22 10:02] abhiTronix commented on #175
@Nizcik Any updates on this?

[2021-01-23 18:40] nivim opened #195 "Wrong validation - ValueError: [WriteGear:ERROR] :: output_filename value:`/Users/*****/Documents/PythonEnv/1.mp4` is not valid/supported in Compression Mode!"
## Description

The WriteGear is checking for OS folder access and failing the process for no good reason, after bypassing the check all is working as expected.

### Acknowledgment

- [X] I have searched the [issues](https://github.com/abhiTronix/vidgear/issues) for my issue and found nothing related or helpful.
- [X] I have read the [Documentation](https://abhitronix.github.io/vidgear).
- [X] I h

[2021-01-24 04:42] abhiTronix commented on #195
@nivim What's the value of command `echo $HOME`?

[2021-01-24 05:00] abhiTronix commented on #195
@nivim Also is `PythonEnv` exist already? Current approach is not robust again missing folders because of  `os.access` limitation, but I will look for ways to patch it.

[2021-01-24 09:30] nivim commented on #195
echo $HOME: /Users/nivgarber (Which is what is suppose to be)
Not sure what you mean by PythonEnv, I'm using venv for the virtual environment.
Let me know if more info is needed.

[2021-01-24 10:00] abhiTronix commented on #195
@nivim OK this is wrong, **you're aren't supposed to be saving file inside virtual environment since user _(i.e. `nivgarber` in your case)_, DO NOT have the permission to write anything inside `PythonEnv` folder that a virtualenv provides.** The virtual environment manages files which aren't yours and It doesn't care how you manage your own files. **More information [here](https://stackoverflow.co

[2021-01-24 10:06] nivim commented on #195
@abhiTronix - Apologies if I confused you, that is what they originally gave (Example - outpath="/Users/nivgarber/1.mp4") and it did not work as well.

[2021-01-24 10:07] nivim commented on #195
I can share with you the logging of it failing as well if it helps

[2021-01-24 10:07] abhiTronix commented on #195
Can you paste the log when using `outpath="/Users/nivgarber/1.mp4"`?

[2021-01-24 10:08] abhiTronix commented on #195
yeah please.

[2021-01-24 10:11] nivim commented on #195
Here:
Output file: /Users/nivgarber/Documents/1234.mp4
12:11:01 :: WriteGear :: WARNING :: The given path:`/Users/nivgarber/Documents/1234.mp4` does not have write access permission. Skipped!
12:11:01 :: WriteGear :: DEBUG :: Compression Mode is enabled therefore checking for valid FFmpeg executables.
12:11:01 :: WriteGear :: DEBUG :: Output Parameters: {'-input_framerate': 29.97002997002997, '-vf

[2021-01-24 10:13] abhiTronix commented on #195
Is `Documents` folder present? Also what is the version of macOS your using?

[2021-01-24 10:15] nivim commented on #195
Documents folder is indeed present, and as I wrote in the ultra detailed bug openning doc ;) - Mac 10.14.6

Do you want me to try and see which part of the If statement fails in WriteGear.py?

[2021-01-24 10:16] abhiTronix commented on #195
No. But does it fails outside virtual environment too?

[2021-01-24 10:16] nivim commented on #195
Good point, didn't check - Let me try.

[2021-01-24 10:18] abhiTronix commented on #195
If this does, then I need to fix it asap and draft a new pre-release for vidgear with this critical bugfix. Thank you for helping anyways.

[2021-01-24 10:25] nivim commented on #195
@abhiTronix - Apologies but yes, it also happens outside of venv.
Also did it directly to the 'home' folder to make sure:

Output file: /Users/nivgarber/15423.mp4
12:23:53 :: WriteGear :: WARNING :: The given path:`/Users/nivgarber/15423.mp4` does not have write access permission. Skipped!
12:23:53 :: WriteGear :: DEBUG :: Compression Mode is enabled therefore checking for valid FFmpeg executables

[2021-01-24 10:28] abhiTronix commented on #195
Thank you for this. But I'm wondering why none of the pytest failed on macOS CI envs.

[2021-01-24 10:32] nivim commented on #195
I wish I known, if there is something else you would like me to check just let me know.

[2021-01-24 10:36] abhiTronix commented on #195
Sure 👍🏽

[2021-01-24 15:08] abhiTronix commented on #195
@nivim Thanks for your patience. A new patch has been added to vidgear's upstream [`development`](https://github.com/abhiTronix/vidgear/tree/development) branch. **Kindly install it as follows:**

[code]

and check if `python3 -c "import vidgear; print(vidgear.__version__)"` prints `0.2.1`, to make sure latest v0.2.1 is installed.

**Finally, then rerun your tests and see if the path issue is fixe

[2021-01-24 18:27] nivim commented on #195
@abhiTronix - Working like a charm:
In Venv:
Output file: /Users/nivgarber/Documents/PythonEnv/234342.mp4
20:22:11 :: WriteGear :: DEBUG :: Compression Mode is enabled therefore checking for valid FFmpeg executables.
20:22:11 :: WriteGear :: DEBUG :: Output Parameters: {'-input_framerate': 29.97002997002997, '-vf': 'scale=3840x1080', '-c:v': 'libx264', '-crf': '1', '-maxrate': '20.0M', '-bufsize':

[2021-01-25 05:17] abhiTronix commented on #195
@nivim Kudos. Thanks for testing.

[2021-01-25 08:10] abhiTronix commented on #195
**Successfully fixed and merged in commit https://github.com/abhiTronix/vidgear/commit/5a4f613fa08cb874e98e9a30dc4c7174e61c4452**

[2021-01-25 08:10] #195 closed

[2021-01-26 14:38] arcphysx opened #197 "Cannot Play Media. No Encoders"
I have a problem with the streamgear API, when I access the stream output, the first frame was appeared, but then it's not changing and I got this error message `Cannot play media. No decoders for requested formats: video/mp4; codecs="avc1.42E01E mp4a.40.2"`

Here's my code:

[code]

[code]

And here's my [screenshot](https://prnt.sc/xnugk8)

[2021-01-26 16:35] abhiTronix commented on #197
@arcphysx What is the output of command `python3 -c "import vidgear; print(vidgear.__version__)"`?

[2021-01-27 01:11] arcphysx commented on #197
It says `0.2.0`

[2021-01-27 03:07] abhiTronix commented on #197
@arcphysx Thanks. That is supposed to work. Can you enable logging by setting `logging=True` in StreamGear? Change `streamer = StreamGear(output="dash_out.mpd", logging=True, **stream_params)`  in your code.

[2021-01-27 05:00] arcphysx commented on #197
[code]

[2021-01-27 15:00] abhiTronix commented on #197
@arcphysx No reproduceable. Can you paste the content of `dash_out.mpd`?

Mine is like this:

[code]

Meaning `codecs="avc1.4d401e"` which is valid in Clapper.

[2021-01-27 15:23] abhiTronix commented on #197
@arcphysx Also, try the latest upstream upstream [`development`](https://github.com/abhiTronix/vidgear/tree/development) branch. **Kindly install it as follows:**

[code]

and check if command `python -c "import vidgear; print(vidgear.__version__)"` prints `0.2.1`, to make sure latest v0.2.1 is installed.

**Finally, then rerun your example and see if the issue is fixed. Also, Paste your `dash_out

[2021-01-28 06:05] arcphysx commented on #197
Thanks, finally it works!

[2021-01-28 06:05] #197 closed

[2021-01-28 08:06] abhiTronix commented on #197
@arcphysx what approach worked? Please briefly explain on your findings, so that anyone else can solve it too.

[2021-01-30 03:11] abhiTronix opened #198 "WriteGear: Switch default encoder automatically based on availability"
## Detailed Description

Making handling of default encoder more robust in WriteGear's compression mode.

### Context

In compression mode, WriteGear must fallback to next most suitable available encoder as default and not just `libx264`, which currently break thinks if FFmpeg is not compiled with its support. Otherwise if `None` suitable is present, disable compression mode entirely and use non-c

[2021-01-30 08:52] arcphysx commented on #197
I installed version 0.2.1 from the Github Repo, and then serve the `.mpd` output file using Nginx (previously I used `php -S`)

[2021-01-30 08:57] abhiTronix commented on #197
@arcphysx thanks.

[2021-01-31 16:47] abhiTronix commented on #188
@esmaily Kindly run following commands:
[code]

and see if this solves your problem with path. Goodluck!

[2021-02-05 10:44] acschristoph opened #199 "How use nvenc for writegear"
How to setup ffmpeg arguments for writegear for using nvenc/vdpau

## Question

How can I setup writegear to using vdpau or nvenc to create a mp4 file

### Context

With vaapi backend it works fine but how can i use nvenc
[code]

thanks

[2021-02-05 11:15] abhiTronix commented on #199
@acschristoph Using NVENC encoder is way simple if you spend a little effort on FFmpeg docs:

[code]

Also, next time please reach us through our [Gitter Community channel](https://gitter.im/vidgear/community) for submitting any typos. More information can be found in [Submission Contexts](https://abhitronix.github.io/vidgear/contribution/#submission-contexts)

[2021-02-05 11:15] #199 closed

[2021-02-05 11:18] abhiTronix commented on #199
@acschristoph  Also make sure you have a NVIDIA GPU to use a NVENC encoder.

[2021-02-26 02:07] arcphysx opened #200 "StreamGear Keeps Buffering"
I have a problem with the StreamGear API, when I access the stream output using Clappr and dash-shaka-playback plugin, at first the stream goes fine, but after a few minutes the player (Clappr) buffers indefinitely unless I refresh the page, but after a few minutes it'll happen again

Here's the screenshot
![1614240936816](https://user-images.githubusercontent.com/39365378/109244685-b4524600-7811-

[2021-02-26 02:46] abhiTronix commented on #200
@arcphysx No related to StreamGear, See Clappr configurations like [`rebufferingGoal`](https://shaka-player-demo.appspot.com/docs/api/tutorial-network-and-buffering-config.html) and also, verify you're using it correctly: https://github.com/clappr/clappr/issues/1239

[2021-02-26 02:46] #200 closed

[2021-03-12 16:34] albertfaromatics opened #201 "Multiple "-f" formats not working"
## Description
I'm trying to create a program that reads from another program that retrieves frames from a ML application and from a USB microphone, merge frames+audio, and stream it using mpeg1video and mpegts output format to a local http server to display.

I can do it from the command line directly from the webcam using ffmpeg:

`ffmpeg -f alsa -ac 1 -ar 48000 -i plug:dsnoopUSB -f v4l2 -i /dev

[2021-03-12 17:35] abhiTronix commented on #201
@albertfaromatics Ok your command is little complicated, so you need to be little creative to use it. Try this:

[code]
and see if this work. Goodluck.

[2021-03-13 15:49] abhiTronix commented on #201
**Closed. Please reopen if issue still persists or provided solution doesn't works.**

[2021-03-13 15:49] #201 closed

[2021-03-28 15:06] abhiTronix commented on #187
Postponed for later! Any related PR are always welcomed.

[2021-03-28 15:06] #187 closed

[2021-03-30 06:33] abhiTronix commented on #198
**Successfully resolved and merged in commit https://github.com/abhiTronix/vidgear/commit/bc7fa8f2df912d0d55f17403a7abe91454453129**

[2021-03-30 06:33] #198 closed

[2021-03-30 07:07] abhiTronix opened #202 "Replace OpenCV JPEG encoding/decoding with simplejpeg for more Performance"
## Detailed Description

There is a new `simplejpeg` python package based on recent versions of libturbojpeg implemented for fast JPEG encoding and decoding. This Issue will track its integration into vidgear to replace OpenCV's JPEG encoding/decoding in all Gears.

### Context

OpenCV is currently throttling performance in various Network Gears like ~NetGear~ **[DONE]** and WebGear **[IN PROGRESS

[2021-04-06 19:39] alexagv opened #204 "Fallback download for FFmpeg static fails"
## Description

The main [URL](https://github.com/abhiTronix/vidgear/blob/b882e7b8473fe96fe6c8d9afedf3b3998f9c5ed0/vidgear/gears/helper.py#L657) for FFmpeg static libs are deprecated since Sept 18 2020.
I know there is a backup URL to your repo. However, it sometimes seems this either times out or something else happens causing compression mode to disable.

### Acknowledgment

- [x] I have searche

[2021-04-07 04:56] abhiTronix commented on #204
@alexagv This issue is already fixed in commit https://github.com/abhiTronix/vidgear/commit/20132cf4ba653a8d6cb47326caeecc675468ca83 of `testing` branch, and now a permanent new [**Automated Latest FFmpeg Mirror**](https://github.com/abhiTronix/FFmpeg-Builds) is up and running for all future releases.

So either you can install testing branch as follows, to try this patches earlier:

[code]
OR wai

[2021-04-07 05:09] abhiTronix commented on #204
@alexagv  I'm curious about this. Can you reproduce this bug with `logging=True`. Thanks.

[2021-04-07 09:13] alexagv commented on #204
Ah thanks, will update and test. I had several users report on the issue, so will have a look with the logger enabled 👍

[2021-04-07 09:37] abhiTronix commented on #204
@alexagv, Thanks. I just tested this on latest Windows Preview build and `testing` branch worked without any issue. The only possible scenario if a bug can exist, is GitHub domain blocked or down in your region. If it is blocked, then proxy settings can work with `request` module. I'm waiting for your results and then I'll make changes accordingly. Goodluck.

[2021-04-08 09:29] abhiTronix commented on #204
@alexagv I think the bug was `logging` flag that simply discards/hides any download errors when logging is disabled.
https://github.com/abhiTronix/vidgear/blob/7018d166ddcdb5f585225b79cf87d0ef335cb550/vidgear/gears/helper.py#L593-L600
Also I've added the new robust [session approach](https://github.com/abhiTronix/vidgear/commit/9c07deaef73e5a9a55eee6edb422608dabdea894) for downloading with automat

[2021-04-10 07:41] FraBle opened #205 "Creating segments (separate files) with WriteGear"
## Question

FFmpeg has the concept of [segments](https://ffmpeg.org/ffmpeg-formats.html#segment_002c-stream_005fsegment_002c-ssegment) to create separate files from a video stream. The following code, for example, records a `mjpeg` stream, converts it to `H.264` using `libx264`, and saves it as files with ~5sec length named `output000.mp4`, `output001.mp4`,...

[code]

How would I achieve somethi

[2021-04-10 13:32] abhiTronix commented on #205
Hey @FraBle, Actually it is actually quite simple. But i'll advise that you first install latest testing branch that include some critical  latest patches for WriteGear API as follows:
[code]

and than use this python code:

[code]

Also,  next time please reach us through our [Gitter Community channel](https://gitter.im/vidgear/community) for asking any usage questions. Have a nice day.

[2021-04-10 13:32] #205 closed

[2021-04-13 04:17] FraBle commented on #205
@abhiTronix You're a lifesaver! That was exactly what I was looking for! Next coffee is on me!

[2021-04-13 10:27] abhiTronix commented on #205
@FraBle Thank you for the donation. Much appreciated.

[2021-04-20 09:52] abhiTronix commented on #204
**Successfully resolved and merged in commit https://github.com/abhiTronix/vidgear/commit/8a0c2af320c8d57d5377ad383999cf5ee7c55097**

[2021-04-20 09:52] #204 closed

[2021-04-20 09:53] abhiTronix commented on #50
Successfully resolved and merged in commit 8a0c2af

[2021-04-20 09:53] #50 closed

[2021-04-20 10:19] abhiTronix commented on #50
## Docs for WebGear_RTC can be found here: https://abhitronix.github.io/vidgear/v0.2.1-dev/gears/webgear_rtc/overview/

[2021-04-25 01:51] abhiTronix commented on #202
**Successfully resolved and merged in commit https://github.com/abhiTronix/vidgear/commit/8996e7abf34e40713996413c19e0facb6b40f1c1**

[2021-04-26 03:44] haviduck opened #208 "Setting cors middleware for custom rtcserver"
hello,
how do i go about adding CORSMiddleware to uvicorn using this example?
https://abhitronix.github.io/vidgear/v0.2.1-dev/gears/webgear_rtc/advanced/#using-webgear_rtc-with-a-custom-sourceopencv

I cant seem to get it right.

[code]

[2021-04-26 04:04] abhiTronix commented on #208
@haviduck you're late to the party. I just released next version yesterday.

No, it is not yet supported yet as nobody asked about it, but I can add it by adding few lines of  code. Please wait till I push next commit in `testing` branch. I'll inform you here.

[2021-04-26 04:58] abhiTronix commented on #208
@haviduck You can also do as follows:

[code]

But I'll add middleware support natively too.

[2021-04-26 05:17] haviduck commented on #208
sweet, thanks! :)

[2021-04-26 05:20] abhiTronix commented on #208
@haviduck First install development branch as follows:
[code]

then use this python code:

[code]

[2021-04-26 05:22] abhiTronix commented on #208
@haviduck Please test the above solution and check if it works for you.

[2021-04-26 05:47] haviduck commented on #208
yeah it does  my cef app ate it like breakfast :)
thanks for helping out, man.

[2021-04-26 06:05] #208 closed

[2021-04-26 06:21] abhiTronix commented on #208
**Successfully resolved and merged in commit https://github.com/abhiTronix/vidgear/commit/88658c083cfee1940ff69d985a5562f2edb27beb**

[2021-04-28 10:55] LosTigeros opened #209 "Live passthrough with audio"
## Question

Would it be possible in future to process live streams with the help of VideoGear to stabilize it and output a stream with WriteGear which would have the audio from incoming source?

### Acknowledgment

- [x] I have searched the [issues](https://github.com/abhiTronix/vidgear/issues) for my issue and found nothing related or helpful.
- [x] I have read the [FAQs](https://abhitronix.gith

[2021-04-29 02:02] abhiTronix commented on #209
@LosTigeros This Feature needs #148 to be resolved first to have full control over media stream, which will probably happen in the next version. Please subscribe/watch the repository to receive updated related to it. Also any PR related to #148 is welcomed.

[2021-04-29 02:02] #209 closed

[2021-05-06 06:47] chandu1263 opened #211 "Decoding multiple rtsp streams with/without GPU"
## Question
Does Vidgear provide GPU-based encoding and decoding? If so, is it using GStreamer?

I am currently working on a computer vision project which needs multiple video stream decoding.
Using OpenCV takes a huge toll on the CPU, then I came across FFMPEG GPU-based decoding and encoding, but was not able to make it work. How to use vidgear for my use-case (which is decoding multiple rtsp str

[2021-05-06 10:37] abhiTronix commented on #211
@chandu1263
GPU Encoding: YES (See this [doc](https://abhitronix.github.io/vidgear/v0.2.1-stable/gears/writegear/compression/usage/#using-compression-mode-with-hardware-encoders))
GPU Decoding: NO (But there's a [hack](https://github.com/abhiTronix/vidgear/issues/69#issuecomment-551112764))

VidGear can work on both FFmpeg and GStreamer backend for decoding. But for encoding only FFmpeg is used.

[2021-05-06 10:37] #211 closed

[2021-05-09 01:08] haviduck opened #212 "webrtc Retrying source if enable live stream"
i dont know if this applies to enough others but it certainly fits here. i use webrtc to stream from various ip cams to operators with handhelds. its outside in a rough environment and at times cams can boot, loose connection etc.

i solve this by Retrying the source if videocapture.read() returns none. in gears when live stream is enabled you default to infinite blank frames which is awesome, but

[2021-05-09 04:11] abhiTronix commented on #212
@haviduck This feature/flag is way complex to handle/implement in comparison to its very limited use, and thereby not worth the effort. So I will advise you to create your own [WebGearRTC custom server](https://abhitronix.github.io/vidgear/v0.2.1-stable/gears/webgear_rtc/advanced/#using-webgear_rtc-with-a-custom-sourceopencv) and implement this functionality there.

[2021-05-09 04:11] #212 closed

[2021-05-09 04:25] haviduck commented on #212
i understand :) will try custom server again, it did not like my opencv processing last time. thanks for reply!

[2021-05-09 04:32] abhiTronix commented on #212
@haviduck Btw, You can replace [OpenCV with CamGear or any other videocapture gear](https://abhitronix.github.io/vidgear/v0.2.1-stable/switch_from_cv/#switching-the-videocapture-apis) easily. 😉

[2021-05-09 11:09] haviduck commented on #212
hehe yeah im slowly changing out stuff. should have found this sooner as ive reinvented the wheel a couple of times by now😅.

[2021-05-09 13:53] abhiTronix commented on #212
@haviduck No, I like solving coding problems in my free time and that's why vidgear exists. But I could guide you with your project if possible. 😃

[2021-05-09 20:12] haviduck commented on #212
completely understand. got custom server running and it works great. chopped a bunch of memory by doing so and ip cams can disconnect and reconnect and continue spewing out frames to connected clients. thank you :)

now to see if i can switch out my own zmq implementation with yours.

[2021-05-10 01:31] abhiTronix commented on #212
@haviduck Reach me out through gitter private chat and also share a rough diagram of setup you're trying to achieve.

[2021-05-13 08:32] marcosar opened #213 "Tunneling with ssh in NetGear"
## Detailed Description

The facility to start an ssh tunnel with a remote server

### Context

I have an opencv application that works standalone. I need to place it on the server so that the server would do the processing, the client would only provide the input stream (no need to display the input stream) and receive  the processed frames from the server (only the processed images would be disp

[2021-05-13 09:49] abhiTronix commented on #213
**Related:** https://pyzmq.readthedocs.io/en/latest/ssh.html

[2021-05-13 21:12] uditrawat23 opened #214 "Not able to save the stream video as output"
### Trying to write the stream video and save as .mp4 file.

## Question

    ### import required libraries
    from vidgear.gears import CamGear
    from vidgear.gears import WriteGear
    import cv2
    import os
    from vidgear.gears import WriteGear
    import ffmpeg
    import time

    _media_path = "C:/Users/erawudi/Downloads/Vidgear"
    output_params = {"-vcodec": "libx264", "-crf": "28"

[2021-05-13 21:18] haviduck commented on #212
sorry for late reply, holiday etc.
Awesome, ill jump right on it :)

[2021-05-14 01:06] abhiTronix commented on #214
@uditrawat23 Please provide the following information:

- Are you able to see output while running this code?
- Paste the terminal log with `logging=True` here, so that the problem can be debugged.

[2021-05-15 04:53] abhiTronix commented on #214
**I'm closing this issue now. Provide any relevant data/log to support this issue.**

[2021-05-15 04:53] #214 closed

[2021-05-25 14:20] devmessias opened #216 "WebGear_rtc source from a message broker"
## Question

Hi.
Suppose that I have a simple  imagezmq broker wich recives images from a client and shows the result using opencv
[code]
My question it's how to use this images , or some m3u playlist inside the WebGear_rtc to streaming the result as webrtc
protocol?

I read the advanced tutorial available at
https://abhitronix.github.io/vidgear/latest/gears/webgear_rtc/advanced/

However, this ju

[2021-05-25 14:57] abhiTronix commented on #216
Hey @devmessias, Quick question, why you using imagezmq? Haven't you checked out [NetGear](https://abhitronix.github.io/vidgear/latest/gears/netgear/overview/) yet?

[2021-05-25 15:12] devmessias commented on #216
Yes.

[2021-05-25 15:13] abhiTronix commented on #216
NetGear is superiors and highly optimized performance wise and yet easier to implement if you're already familiar with OpenCV.  _(here are [examples](https://abhitronix.github.io/vidgear/latest/gears/netgear/usage/))_. Regarding WebGear_RTC compatiblity, Vidgear APIs are equality compatible with other libraries.

[2021-05-25 15:16] abhiTronix commented on #216
For using WebGear_RTC with custom source like imagezmq broker, you can modify this example: https://abhitronix.github.io/vidgear/latest/gears/webgear_rtc/advanced/#using-webgear_rtc-with-a-custom-sourceopencv

[2021-05-25 17:04] devmessias commented on #216
thanks for the example @abhiTronix.

I've tried to run this but not worked. recv it's never called.

[2021-05-25 18:49] devmessias commented on #216
I've tried a simple test using just NetGear and  this solutions still not work

[code]

[code]

[2021-05-26 01:51] abhiTronix commented on #216
@devmessias That example was for imagezmq broker and not NetGear. Note that NetGear sender only work NetGear reciever due to its unique packet.

[2021-05-26 01:53] abhiTronix commented on #216
Will not work with NetGear as it is for imagezmq only. For NetGear checkout its usage example. Also, leave address default on local machine.

[2021-05-26 13:17] axlgit opened #217 "ScreeGear: sourced pixel straight from video card or not?"
Hi,

the project looks amazing, great job!
I just would like to know if ScreenGear gets the pixels from the OS video buffers or if sources them from the graphic card.
Some programs write directly to the video card and hence when I tried other (non necessarily Python) tools like vidgear I got just a black image, I hope I can overcome this with ScreenGear :-)

Thanks!

Axl

## Question

_Kindly desc

[2021-05-26 15:06] axlgit commented on #217
Ok,

using this code

[code]
doesn't seem so.

So I guess there is no way, isn't it?

Axl

[2021-05-26 15:08] axlgit commented on #217
Thanks @abhiTronix .
I will my questions there.

Thx!

[2021-05-26 15:08] #217 closed

[2021-05-26 15:09] abhiTronix commented on #217
@axlgit ScreenGear also uses `pyscreenshot` in addition to `python-mss`. So you may check that too.

[2021-05-27 02:12] devmessias commented on #216
Thank you @abhiTronix. Before doing this example using NetGear, I first tried to use imagezmq. Unfortunately, didn't worked. The WebRTC server gets stuck. I think it might have something to do with the self.imageHub.recv () call

[code]

[2021-05-27 02:15] devmessias commented on #216
I've used this simple python script to send the image to your code example
[code]

[2021-05-28 00:52] abhiTronix commented on #216
@devmessias imagezmq is too slow to be act as a server. Therefore try NetGear as follows:

 :warning: Make sure you run bpth server and client on same machine/computer but on different terminal instances.

## Server End:

[code]

## Client's End:

[code]

Kindly try this example.

Also, If something went wrong, share the terminal log.

[2021-05-29 05:07] abhiTronix commented on #213
**Successfully resolved and merged in commit: https://github.com/abhiTronix/vidgear/commit/6ddc9ffa729e6485dc71a174ed6fb1ddf42824f8**

[2021-05-29 05:07] #213 closed

[2021-05-29 07:10] abhiTronix commented on #213
### Usage Examples can be found here: https://abhitronix.github.io/vidgear/v0.2.2-dev/gears/netgear/advanced/ssh_tunnel/#ssh-tunneling-mode-for-netgear-api

[2021-06-01 17:25] teaglin opened #218 "Hardware encoding fails on v0.2.1"
Using version 0.2.1 I am unable to use hardware encoding via h264_nvenc on NVIDIA GPUs. FFMPEG is correctly installed. Hardware encoding works in other applications using ffmpeg and is visible from cli.

I tried setting the custom path of FFMPEG, but that fails as well. Downgrading to any earlier version seems to resolve the issue.

## Description

Error from vidgear
`WriteGear :: CRITICAL :: Prov

[2021-06-02 02:08] abhiTronix commented on #218
@teaglin Thanks for raising this issue. I just tested and can confirm that regex is broken exclusively for this encode. But nothing to worry about as I'll fix this in not time. Please stay tuned, I'll notify you here when it is done.

@teaglin Yeah, That's because encoder check was added recently in v0.2.1.

[2021-06-02 13:48] teaglin commented on #218
@abhiTronix Not a problem and thanks for the quick update.

[2021-06-03 00:35] abhiTronix commented on #218
@teaglin Thanks for your patience. I've patched the regex expression in `development`, and you can install vidgear from source as follow:

[code]
and test if issue is fixed or not? Goodluck.

[2021-06-04 02:28] abhiTronix commented on #218
**Solved as working as intending.** Kindly test it whenever possible.

[2021-06-04 02:28] #218 closed

[2021-06-08 14:49] kpetrykin opened #219 "WebGear_RTC: stream freezes after web-page reloading"
## Description

Hello! Im experimenting with your WebRTC example (https://abhitronix.github.io/vidgear/latest/gears/webgear_rtc/usage/) and everything works fine (stream starts and works even in several browser tabs), but crashes everywhere when I reload page.

To run it again I need to restart whole webserver.

### Acknowledgment

- [x] I have searched the [issues](https://github.com/abhiTronix/v

[2021-06-08 16:41] abhiTronix commented on #219
@kpetrykin Thanks for raising this issue. and Yes it is a known problem in WebGear_RTC that exist since it was created. I tried many methods to cope with it but all fell short. Also it happens rarely that's why I decided to ignore it.

It is easy to do on server side in python code. But I can't figure out how to command client browser to drop the connection as well and restart as well. Actually ja

[2021-06-08 18:19] kpetrykin commented on #219
@abhiTronix if you point me to python code, I could play with JS to call it 🤔

[2021-06-08 19:28] agjunyent opened #220 "CamGear: self.frame always gives the same frame when camera is busy"
I'd like to suggest to set `self.frame = None` before [(grabbed, frame) = self.stream.read()](https://github.com/abhiTronix/vidgear/blob/eb19b9ce96061c09b5fe4c3ee63d84c940a19af2/vidgear/gears/camgear.py#L359) in order to improve the ability to synchronize two cameras with different FPS and functionalities.

### Context

I'm using vidgear on a Raspi4 with 2 USB cameras: RGB camera and Thermal Camer

[2021-06-09 04:49] abhiTronix commented on #220
@agjunyent Thanks for opening this issue. But I'm not getting the gist of the actual problem, Can you provide code or related diagram, So that we can be on same page?

VidGear is pretty good at handling frames synchronization , you can see this test here https://github.com/abhiTronix/vidgear/blob/eb19b9ce96061c09b5fe4c3ee63d84c940a19af2/vidgear/tests/videocapture_tests/test_camgear.py#L109-L141

A

[2021-06-09 05:00] abhiTronix commented on #220
Reopened as waiting for response from the author.

[2021-06-09 05:21] abhiTronix commented on #219
@kpetrykin Thanks. First of all,  WebGear_RTC use [`aiortc`](https://github.com/aiortc/aiortc) library at backend for its WebRTC functionality.  Our primary objective will that we need to communicate and tell client that it need to be restarted and receive a feedback so that server can restart too afterwards. We can do something like this example: https://github.com/aiortc/aiortc/tree/main/example

[2021-06-09 06:56] agjunyent commented on #220
Hi thanks for your response.

I thought that CamGear retrieves the frames on a [separate thread](https://github.com/abhiTronix/vidgear/blob/eb19b9ce96061c09b5fe4c3ee63d84c940a19af2/vidgear/gears/camgear.py#L346-L415), and when you use `stream.read()` you are only getting the last frame that the thread has retrieved. If the camera freezes for some reason for 2-3 seconds, you are getting the same fr

[2021-06-09 08:06] abhiTronix commented on #220
@agjunyent Ohk Now, I understand your problem and it all makes sense. Correct if I'm wrong:

You got a camera livefeed for which [Threaded Mode is disabled](https://abhitronix.github.io/vidgear/latest/bonus/TQM/#manually-disabling-threaded-queue-mode) and it gets busy for sometimes, thereby the `self.frame` in `read()`

https://github.com/abhiTronix/vidgear/blob/eb19b9ce96061c09b5fe4c3ee63d84c940a

[2021-06-09 08:26] agjunyent commented on #220
Hi @abhiTronix. Thanks again for your response.

Exactly! That's what is happening. The camera that is not busy keeps sending frames, losing syncronization with the one that is busy "recalibrating" (in my case). This makes the ML program behave wrong as it needs both frames to be syncronized, or it will compare a "newer" frame from the RGB camera with an old frame of the Thermal camera, and if som

[2021-06-10 04:47] abhiTronix commented on #220
@agjunyent Thanks for you patience, the problem might be fixed with latest commit. Please test it on your setup by installing `development` branch as follows:
[code]

After installing you can now use `read()` as block function that self-blocks when your camera is busy, just like  `(grabbed, frame) = self.stream.read()`, for a given timeout value _(only if specified, otherwise returns `None`)_. Als

[2021-06-10 10:27] kpetrykin commented on #219
I made brutal example, which closes all connections and relaunches videostream on page reloading (JS sends request to special endpoint) - and now there is no freezes.
But it breaks the stream on another tabs =\

[2021-06-10 11:06] abhiTronix commented on #219
But it breaks the stream on another tabs =\

@kpetrykin That's awesome start and I might able to help with it. Can I take a look at it? 😃

[2021-06-10 13:35] kpetrykin commented on #219
I made PR: https://github.com/abhiTronix/vidgear/pull/221

[2021-06-10 14:04] abhiTronix commented on #219
@kpetrykin Please resolve: https://github.com/abhiTronix/vidgear/pull/221#issuecomment-858649458

[2021-06-10 14:30] agjunyent commented on #220
Hi @abhiTronix Thanks for your fast update!! I'll give it a try tomorrow and report back results as soon as possible.

[2021-06-11 16:43] abhiTronix commented on #220
@agjunyent any updates?

[2021-06-11 17:03] agjunyent commented on #220
@abhiTronix being tested right now. I want to leave it running for some time to see if the desyncronization happens. I will come back tomorrow with final result.

Thanks for your time!

[2021-06-12 17:53] abhiTronix commented on #219
@kpetrykin Finally I've solved this problem with your suggestions, so thanks to you 😃. You're on right track but it needed some major changes to API. Please hold on for the commit, I'll notify you here.

[2021-06-12 17:53] abhiTronix commented on #220
@agjunyent ???

[2021-06-12 18:10] agjunyent commented on #220
Hi @abhiTronix sorry for the late response. I've been very busy today.

Just checked and the syncronization is still perfect. Thanks!!

Your solution solved the problem, at least for me! Amazing library. I'm moving all my camera code to vidgear. Thanks!

[2021-06-13 01:28] abhiTronix commented on #220
@agjunyent Thanks man and kudos!!!

[2021-06-13 01:29] abhiTronix commented on #220
**Successfully Resolved and Merged in commit https://github.com/abhiTronix/vidgear/commit/efdb1e7a17178668eb07f939fb3ea96c115ee483**

[2021-06-13 01:29] #220 closed

[2021-06-15 02:03] abhiTronix commented on #219
@kpetrykin The issue is resolved in latest commit https://github.com/abhiTronix/vidgear/commit/4de88c77dc3ce9109f2ae85240b0440ff715d7d0. Kindly  test it on your setup by installing `development` branch as follows:
[code]

After installing use following code to re-generated JS an HTML files:

[code]
and you'll be able to reload page any number of times without freezing. 😃

**Kindly test it as soon

[2021-06-22 06:07] abhiTronix commented on #219
**Marked solved, as working as intended. Feel free to test it and provide valuable feedback when possible.**

[2021-06-22 06:07] #219 closed

[2021-06-22 06:08] abhiTronix commented on #219
**Successfully resolved and merged in commit https://github.com/abhiTronix/vidgear/commit/2076d8c47e4c1383f57aecac362ea28bc95aaaea**

[2021-06-22 07:12] PrashantSaikia opened #224 "How do I display two streams simultaneously?"
Let's take the example code [here](https://abhitronix.github.io/vidgear/latest/gears/webgear/advanced/) that displays the webcam feed using OpenCV. Say I want two of these feeds to be displayed side by side - one for the webcam stream, and one for streaming another video stream (like a pre-downloaded mp4 video, etc). How would I do that? I'm guessing I'll need to have two async custom frame produc

[2021-06-22 12:54] kpetrykin commented on #219
Sorry, I can't test it soon, because I start to work on another project.
But I mandatory test it in the future!

[2021-06-22 13:09] abhiTronix commented on #224
@PrashantSaikia Good question, I was hoping someone to ask this. Due to modular stucture of WebGear, the simplest trick here is to run one source generator directly through `config["generator"]` and other source through different Streaming Response and Route. In this way you can easily create any number of sources over different routes.

For example in below example, I will run first source  "foo1

[2021-06-22 13:10] abhiTronix commented on #224
@PrashantSaikia Please test this example as sson as possible and let us know how it went.

[2021-06-23 13:40] abhiTronix commented on #224
Marked solved, as working as intended. Feel free to test it and provide valuable feedback when possible.

[2021-06-23 13:40] #224 closed

[2021-06-24 01:48] PrashantSaikia commented on #224
Hi there. I'm a little unclear on where do I need to put this index.html, or how to run it. Do I need to run the code you wrote above, and then separately run this index.html, or something like that? If so, its getting a bit complicated. Also, I actually have done [this](https://stackoverflow.com/questions/67747047/pose-detection-on-two-videos-simultaneously-in-a-browser-web-app-not-working) with

[2021-06-24 02:03] abhiTronix commented on #224
@PrashantSaikia You need to look at docs on how WebGear works. WebGear dynamically checks for HTML, CSS, JS files at runtime with its [Auto-Generation](https://abhitronix.github.io/vidgear/v0.2.2-dev/gears/webgear/overview/#data-files-auto-generation-workflow-for-webgear) workflow. So you need to change HTML file generated at [Default Location](https://abhitronix.github.io/vidgear/v0.2.2-dev/gears

[2021-06-24 02:09] abhiTronix commented on #224
@PrashantSaikia It depends upon how fast source is inputting the frames. If source itself is slow, then WebGear can't do much. Also, you can try [WebGear_RTC](https://abhitronix.github.io/vidgear/v0.2.2-dev/gears/webgear_rtc/overview/) that utilizes much faster WebRTC technology in the similar way.

[2021-06-24 02:19] PrashantSaikia commented on #224
Ok, so I saved the index.html as follows:

[code]

and used `options` to point to the location where it is saved (which I've kept as `./` for convenience as of now). After now running your code, I can see the two html files in the folder, but it doesn't display the two videos side by side - it still shows only one, which I guess probably means they are overlapping, which I pointed out in my origin

[2021-06-24 02:22] abhiTronix commented on #224
@PrashantSaikia What two html files?

[2021-06-24 02:25] PrashantSaikia commented on #224
index.html and base.html

[2021-06-24 02:25] abhiTronix commented on #224
@PrashantSaikia Kindly enable debugging(`logging=True`) and Paste the terminal log here. In my opinion `./` is not working but  still using old files located at `.vidgear`.

[2021-06-24 02:27] abhiTronix commented on #224
@PrashantSaikia That is wrong, it should not be two files but it must also contain `404.html` and `500.html`, otherwise WebGear triggers [Auto-Generation process](https://abhitronix.github.io/vidgear/v0.2.2-dev/gears/webgear/overview/#auto-generation-process) that will overwrite old files.

[2021-06-24 02:30] PrashantSaikia commented on #224
Oh ok, I copied the 404.html and 500.html files too into the folder. Still no difference in result. Could you please correct my index.html and tell me exactly what to do after that? I just want to see if there's any improvement in FPS or not.

[2021-06-24 02:32] abhiTronix commented on #224
@Are you able to achieve two streams on your browser? You're not helping me with debug output, I can't help with your problem.

[2021-06-24 02:35] abhiTronix commented on #224
@PrashantSaikia Just paste whatever is in our terminal after running the python script.

[2021-06-24 02:37] PrashantSaikia commented on #224
[code]

[2021-06-24 02:41] abhiTronix commented on #224
@PrashantSaikia Ok, the default location have changed successfully.

INFO:     ::1:51917 - "GET / HTTP/1.1" 200 OK
INFO:     ::1:51918 - "GET /video HTTP/1.1" 200 OK
INFO:     ::1:51917 - "GET /static/css/custom.css HTTP/1.1" 304 Not Modified
INFO:     ::1:51919 - "GET /static/js/custom.js HTTP/1.1" 304 Not Modified
INFO:     ::1:51917 - "GET /video HTTP/1.1" 200 OK

But Still no `/video2` here. D

[2021-06-24 02:46] PrashantSaikia commented on #224
Yes, I copy-pasted my `index.html` above. Pasting it again here:

[code]

Yes, I checked. When I give the video path as webcam for both the streams, it doesn't display anything on the browser. So I changed the video paths to two pre-downloaded mp4 videos. After that, when I run the script and visit `http://localhost:8000/video` and `http://localhost:8000/video2`, it downloads the two video files,

[2021-06-24 02:50] abhiTronix commented on #224
{% block content %}
	<h1 class="glow">WebGear Video Feed</h1>
    <div class="rows">
      <video id="myvideo" width="320" height="240" controls style="background:black">
        <source class="active" src="http://localhost:8000/video" type="video/mp4" />
        <source src="http://localhost:8000/video2" type="video/mp4" />
      </video>
    </div>
{% endblock %}

@PrashantSaikia Also your html

[2021-06-24 02:53] PrashantSaikia commented on #224
Ok, done. Still see only one stream in the browser:

<img width="489" alt="Screenshot 2021-06-24 at 10 52 33 AM" src="https://user-images.githubusercontent.com/39755678/123195228-68bb5a80-d4da-11eb-992c-94cab3bef0ea.png">

[2021-06-24 02:54] abhiTronix commented on #224
@PrashantSaikia That's normal behavior since WebGear uses motion-jpeg, that display images frame by frame and not a valid video container.

[2021-06-24 03:00] abhiTronix commented on #224
Ok, done. Still see only one stream in the browser:

What source are you using? I'm getting correct out put here:
![image](https://user-images.githubusercontent.com/34266896/123195820-71099a80-d4c6-11eb-890a-2cb2d46f6996.png)

[2021-06-24 03:02] PrashantSaikia commented on #224
I am using pre-downloaded videos, the same ones from here [here](https://github.com/PrashantSaikia/Body-Movement-Comparison-with-Mediapipe/tree/main/dance_videos).

Also, like I mentioned before, if I give the video path as `0` (i.e., webcam), it doesn't display anything in the browser.

[2021-06-24 03:04] abhiTronix commented on #224
@PrashantSaikia Ok I'm uploading complete Zip file here where everything is working, Please wait.

[2021-06-24 03:09] abhiTronix commented on #224
@PrashantSaikia Are you sure? OpenCV works with camera out of the box. Try `-1`  integer value at input.

[2021-06-24 03:13] PrashantSaikia commented on #224
Ok, tried this as well just now. Now there's a "?" that appears in the div where the video is supposed to display. When I give 0, there's nothing that appears there - no question mark, no video.

[2021-06-24 03:18] abhiTronix commented on #224
@PrashantSaikia See its working:
![image](https://user-images.githubusercontent.com/34266896/123197069-9eefde80-d4c8-11eb-82ed-5353b8ac011d.png)

### And here is the working zip file:

[webgear_example.zip](https://github.com/abhiTronix/vidgear/files/6706012/webgear_example.zip)

Just do `python py test_example.py` inside folder to run it.

[2021-06-24 03:19] abhiTronix commented on #224
@PrashantSaikia Your code must be wrong, just use mine. Goodluck!

[2021-06-24 03:28] PrashantSaikia commented on #224
Ok, now it shows the two videos one after the other. And also, the videos are playing at a faster speed, looks like 2-3x from eyeballing.

Here, I did a screen recording:

https://user-images.githubusercontent.com/39755678/123198034-07e25100-d4df-11eb-9eac-63d5085c6ef8.mp4

And giving the webcam still produces blank output:

<img width="980" alt="Screenshot 2021-06-24 at 11 27 22 AM" src="https://

[2021-06-24 03:30] abhiTronix commented on #224
I'm also on windows. Try this example:
[code]

What do you see?

[2021-06-24 03:32] abhiTronix commented on #224
@PrashantSaikia You can play with [WebGear's Performance Enhancements](https://abhitronix.github.io/vidgear/v0.2.2-dev/gears/webgear/usage/#performance-enhancements). Also, you can try [WebGear_RTC](https://abhitronix.github.io/vidgear/v0.2.2-dev/gears/webgear_rtc/overview/) that utilizes much faster WebRTC technology in the similar way.

[2021-06-24 03:37] PrashantSaikia commented on #224
Yeah, that's why I said, because I'm on Mac.

I can see the webcam feed. When displaying a single video, its not a problem. I had already ported my pose recognition module into your [example code](https://abhitronix.github.io/vidgear/latest/gears/webgear/advanced/), and it works great. Its just that making two videos play side by side is proving difficult.

[2021-06-24 03:41] abhiTronix commented on #224
@PrashantSaikia This is making no sense. If you're having no problem with single video, then you must have no problem with any number of videos. Can you update your vidgear to latest as follows:
[code]

and then try.

[2021-06-24 03:46] abhiTronix commented on #224
@PrashantSaikia  Also, are you using `0` index this time? Double check it is `0` and not `-1`.

[2021-06-24 03:52] abhiTronix commented on #224
@PrashantSaikia Even my camera is working without any problem:

![image](https://user-images.githubusercontent.com/34266896/123199991-89c97e80-d4cd-11eb-8f88-8eb5e00f1b58.png)

### Here's code:

[webgear_example.zip](https://github.com/abhiTronix/vidgear/files/6706097/webgear_example.zip)

[2021-06-24 03:53] PrashantSaikia commented on #224
Yes, I'm using 0. I never use -1, except now to test it.

Yes, that's true unfortunately.

Who knew rendering the two videos on the browser instead of on two popup windows as OpenCV does would be such a time consuming and energy-intensive task. I just wish OpenCV had an inbuilt function to render the results on browser, sigh.

[2021-06-24 05:43] guiaugustoga987 opened #225 "Vidgear ROS compatibility"
I have a drone with a camera attached and I use opencv with ROS (Robot Operating System
) to visualize the camera frames. Can I use vidgear for video stabilization in this case ?

In the line code :
`stream = VideoGear(source=0, stabilize = True).start() # To open any valid video stream(for e.g device at 0 index)
`
I'm not sure how do I set up my video stream obtained with ROS. Any recommendation

[2021-06-24 06:21] abhiTronix commented on #225
@guiaugustoga987 Actually, It's pretty easy . Just use [`cv_bridge`](http://wiki.ros.org/cv_bridge/Tutorials/ConvertingBetweenROSImagesAndOpenCVImagesPython) to convert OpenCV frames to ROS image messages. You can use following code for reference:

[code]

[2021-06-24 06:21] #225 closed

[2021-06-24 06:24] abhiTronix commented on #225
@guiaugustoga987 Kindly test this solution and report back here with result. Goodluck!

[2021-06-25 01:46] abhiTronix commented on #225
Marked solved, as working as intended. Feel free to test it and provide valuable feedback when possible.

[2021-06-27 01:52] abhiTronix opened #226 "[Bug] NetGear: Bidirectional Video-Frame Transfer broken with frame compression"
## Description

[Video-Frames Transfer in Bidirectional Mode](https://abhitronix.github.io/vidgear/latest/gears/netgear/advanced/bidirectional_mode/#using-bidirectional-mode-for-video-frames-transfer) and also MultiClients Mode is broken when [frame compression is enabled](https://abhitronix.github.io/vidgear/latest/gears/netgear/advanced/compression/#frame-compression-for-netgear-api).

### Ackno

[2021-07-06 02:02] abhiTronix commented on #226
**Successfully resolved and merged in commit https://github.com/abhiTronix/vidgear/commit/b1fa9d3e5a9b879dd36c69667fbf00c3136e1f35**

[2021-07-06 02:02] #226 closed

[2021-07-07 11:02] GuillaumeTong commented on #141
This feature could also be useful in these cases:

- When argument order matter (since python dict do not have guaranteed order) for e.g. in my case, when I want to insert an audio, i will need to specify '-i' before '-vcodec'
- When a flag does not expect any value

This page currently seem to indicate that this feature has been merged into 1.9. I am currently using vidgear 2.1, but I cannot find

[2021-07-07 11:56] abhiTronix commented on #141
When argument order matter (since python dict do not have guaranteed order) for e.g. in my case, when I want to insert an audio, i will need to specify '-i' before '-vcodec'
When a flag does not expect any value
This page currently seem to indicate that this feature has been merged into 1.9. I am currently using vidgear 2.1, but I cannot find this feature in the code or documentation. Am I missing

[2021-07-07 17:16] abhiTronix commented on #175
@Nizcik I'll just call it a day till my college is over, I just tested [cupy](https://github.com/cupy/cupy) and it sorta works on my AMD setup but I need a proper NVIDIA hardware to test it performance which I'll be purchasing at sometime in 2022. So stay tuned for any future updates.

[2021-07-07 17:16] #175 closed

[2021-07-09 05:02] zxcvmmm opened #228 "rtsp streaming using wirtegear"
rtsp streaming using wirtegear

## Question

I wanna rtsp streaming by using writegear API referred in below webpage;
   https://answers.opencv.org/question/234908/rtsp-streaming-gstreamer-or-ffmpeg/

Full code is as below.
============================================================================================

[code]

==========================================================================

[2021-07-09 05:21] abhiTronix commented on #228
@zxcvmmm This is not WriteGear or vidgear error at all. Instead, Your installed FFmpeg is not compiled with [`RSTP`](https://ffmpeg.org/ffmpeg-protocols.html#toc-rtsp) demuxer support so you cannot stream via `RSTP` protocol.  You can confirm this by following command:

[code]

will  not show `rstp` as demuxer.

### Solution:

The only solution to this error is to re-compile/re-install the FFmpeg

[2021-07-09 05:21] #228 closed

[2021-07-09 13:00] ahmedosman2001 opened #229 "How to use NetGear receive mode with WebGear_RTC"
Hi, is it possible to use WebGear_RTC with NetGear(receive mode=True)? For example, I'd like to use NetGear to transfer frames from a Raspberry Pi camera, then view the stream on a remote computer and do object detection using the remote computer's CPUs.  [This](https://abhitronix.github.io/vidgear/latest/gears/webgear_rtc/advanced/#using-webgear_rtc-with-a-custom-sourceopencv) example may be simi

[2021-07-10 08:40] abhiTronix commented on #229
@ahmedosman2001 It's not been tested but it will work. The only problem is High CPU usage that might occur. But you can give it a try as follows:

### Client End + WebGear_RTC Server

Open a terminal on Client System (where you want to (display and setup WebGear_RTC server) the input frames received from the Server) and execute the following python code:

 :warning: make sure you use different por

[2021-07-10 08:40] #229 closed

[2021-07-10 08:41] abhiTronix commented on #229
@ahmedosman2001 Also for maximum performance, Install latest `testing` branch from source as follows:

[code]
  # install normally
  pip install .

  # OR install with asyncio support
  pip install .[asyncio]

[2021-07-10 12:22] ahmedosman2001 commented on #229
@abhiTronix - Thanks for responding, I just tested and it is working.

[2021-07-11 15:57] ahmedosman2001 commented on #224
Hi, i tested the zip file you shared and it also works with two webcams.
Now, instead of using WebGear, i tried to use WebGear_RTC but I'm keep getting this error when i visit http://localhost:8000/video2.
`TypeError: 'coroutine' object is not an iterator`

This is the debug and full error

<img width="648" alt="Screenshot 2021-07-11 at 16 36 06" src="https://user-images.githubusercontent.com/4507

[2021-07-11 16:20] abhiTronix commented on #224
@ahmedosman2001 It will not work by simply changing python code alone in `WebGear_RTC` since its backend [`aiortc`]() library is pretty complex and need both frontend `javascript` and backend `python` code to be altered simuntaneously and synchronized properly. Since javascripting is not forte, so I can't really help you, but you can look into this issue: https://github.com/aiortc/aiortc/issues/38

[2021-07-11 17:34] abhiTronix commented on #224
@ahmedosman2001

### And here is the working zip file with frame concatenation trick:

[webgear_rtc_example.zip](https://github.com/abhiTronix/vidgear/files/6797360/webgear_rtc_example.zip)

Just do python test_example.py inside extracted folder to run it.

[2021-07-11 17:43] ahmedosman2001 commented on #224
I tested earlier and it works fine when streaming video file. However, i couldn't make it work for two webcams. For example, when the sources is changed from foo.mp4 to webcam  (0 and 1), it just displays black screen. Thanks.

[2021-07-11 18:12] abhiTronix commented on #224
@ahmedosman2001 It's working fine on my end. And If it works with video files, webcam is no exception. Sort this out yourself.

[2021-07-12 05:29] abhiTronix commented on #194
#### Here's a high-level wrapper code around VideoGear API to enable auto-reconnection _(multiple times)_ when disconnected during RTSP/RTMP stream:

[code]

[2021-07-12 06:11] abhiTronix opened #230 "NetGear: Add variable colorspace frames support to Frame Compression"
## Detailed Description

NetGear currently only supports `BGR` colorspace frames with its [Frame Compression](https://abhitronix.github.io/vidgear/v0.2.2-dev/gears/netgear/advanced/compression/) but rejects any other colorspaces(always defaults to `BGR`). This issue will add support for additional colorspaces.

### Context

NetGear API only supports `BGR` colorspace as of now and doesn't let users

[2021-07-12 06:17] abhiTronix commented on #224
@PrashantSaikia @ahmedosman2001 This might be error why two cameras are not working with OpenCV: https://stackoverflow.com/a/29702444/10158117

[2021-07-15 11:06] egeakman opened #232 "Output video is either fast-forwarded or 0 seconds"
## Description

I have an application made with pyqt and its purpose is to record videos.
When I record a video, the output video is either fast-forwarded or its length is 0 seconds. (On my computers (3) where I test my app, it's 0 seconds. On a friend's computer, it's fast-forwarded.)
I tried -r and -input_framerate, none of them worked.
I will attach the terminal output below. Is there a way to

[2021-07-15 14:01] abhiTronix commented on #232
Hello @egeakman, **This means `writer.close()` is not executed properly or probably skipped somehow.** I'm not sure why you put `self.writer.close()` in another loop

https://github.com/Antalya-ISAS/tcgrida/blob/1e09132fdb564366caeacea2f5ddbe567617a459/app/ui_functions.py#L168-L189

Please handle it properly or you'll see these weird artifacts.

[2021-07-17 01:12] #232 closed

[2021-07-17 16:28] abhiTronix commented on #230
**Successfully resolved and merged in commit https://github.com/abhiTronix/vidgear/commit/2a377007f4dbc06f9d84a9b7ff6ed081417c6618**

[2021-07-17 16:28] #230 closed

[2021-07-20 11:16] abhiTronix commented on #202
**SimpleJPEG successfully integrated into WebGear in commit https://github.com/abhiTronix/vidgear/commit/34d3d3128985b4b371172725319287b2ffcc1aec**

[2021-07-20 11:16] #202 closed

[2021-07-21 14:48] wjassim opened #234 "Low fps for 8k videos"
Hi,
Thank you for providing this awesome tool. It is very useful and handy.

I was running the following code given in VideoGear API Usage Examples to read and display frames from a high resolution (8k, w=8192, h=4320) video:

from vidgear.gears import VideoGear
import cv2
stream = VideoGear(source="8k.avi").start()
while True:
    frame = stream.read()
    if frame is None:
        break
    ####

[2021-07-21 15:23] abhiTronix commented on #234
@wjassim Actually its not vidgear but your OpenCV that is bottlenecking the performance. Since OpenCV is taking too long to process each frame because of huge sized 8K frames, there's nothing vidgear can do to squeeze performance out of it.  You can only see greater performance if you sacrifice 8K quality and switch to 1080p or so.

**However, if you can [compiling OpenCV manually and use GPU enab

[2021-07-21 15:23] #234 closed

[2021-07-29 15:28] abhiTronix opened #235 "NetGear_Async: Add bi-directional data transfer mode"
## Detailed Description

This issue will oversee implementation of [NetGear's bi-directional data transfer exclusive mode](https://abhitronix.github.io/vidgear/latest/gears/netgear/advanced/bidirectional_mode/) for [NetGear_Async API](https://abhitronix.github.io/vidgear/latest/gears/netgear_async/overview/).

### Context

Currently, NetGear_Async is far efficent than its NetGear counterpart, but

[2021-07-30 12:17] rubar-tech commented on #235
Where are the new codes, development branch?

[2021-07-30 13:29] abhiTronix commented on #235
@rubar-tech not yet. Only after #106 resolved, be patient.

[2021-07-30 22:04] tgentry1986 opened #236 "Audio input from device in StreamGear"
## Question

Hey! Im loving vidgear! I've managed to get an NDI stream in to it using a python implementation of the NDI libraries, then frames in to open CV and then out to an rtmp server using vidgear - Very, very cool (i work in VFX and more and more packages are supporting NDI i.e. avid, premiere, flame etc. and streaming NDI to an RTMP server is a very hot topic). However, audio doesnt work w

[2021-08-02 02:23] abhiTronix commented on #236
@tgentry1986 Nope. It is available, please go through docs. See this: https://abhitronix.github.io/vidgear/v0.2.2-dev/gears/writegear/compression/usage/#using-compression-mode-with-live-audio-input

[2021-08-02 18:08] tgentry1986 commented on #236
hey @abhiTronix

Im using StreamGear rather than WriteGear and getting the following error;

Option vf (set video filters) cannot be applied to input url Stereo Mix (Realtek Audio) -- you are trying to apply an input option to an output file or vice versa. Move this option before the file it belongs to.
Error parsing options for input file Stereo Mix (Realtek Audio).

these are my current params;

[2021-08-03 06:49] abhiTronix commented on #236
@tgentry1986 StreamGear doesn't support live input yet. It only allows file input as if now: https://abhitronix.github.io/vidgear/latest/gears/streamgear/usage/#b7-usage-with-audio-input

[2021-08-03 06:55] abhiTronix commented on #236
Due to limited time right now, this can't be done in current `v0.2.2` release. I'll work on it in the future releases.

[2021-08-07 18:03] tgentry1986 commented on #236
@abhiTronix thank you so much! The ability to do this would certainly help me finish my current project easily without a lot of re-writing. Please let me know if youre able to achieve this!

[2021-08-11 02:31] abhiTronix commented on #236
@tgentry1986 This is wrong. StreamGear doesn't support RMTP streaming format but only support **DASH** or **HLS** streaming. If you want to use RMTP then use WriteGear.

[2021-08-11 11:17] chouex commented on #218
facing the same problem @0.2.1, not detect libx264 and hevc_nvenc
fixed after install develop branch.

just report the fix is working

[2021-08-11 11:21] abhiTronix commented on #218
@chouex It's solved. Kindly use steps given [above comment](https://github.com/abhiTronix/vidgear/issues/218#issuecomment-853471558) to update vidgear to latest until `v0.2.2` is released with patch.

[2021-08-11 11:46] abhiTronix opened #238 "Remove range from publication year in Copyright Notice"
## Description

The vidgear's license contains publication date range in copyright notice which is not ideal for a Open-Source Licenses. It is recommended in  [US copyright notices defined by Title 17, Chapter 4(Visually perceptible copies)](https://www.copyright.gov/title17/92chap4.html) to put only year date of first publication of the compilation or derivative work.

### Acknowledgment

- [x] I

[2021-08-12 02:52] abhiTronix commented on #238
**Successfully resolved and merged in commit https://github.com/abhiTronix/vidgear/commit/11f7dadc67874bf38808853b0c69821eddb2fd64**

[2021-08-12 02:52] #238 closed

[2021-08-12 02:53] abhiTronix commented on #106
**APPLE HLS support successfully implemented and merged in commit  https://github.com/abhiTronix/vidgear/commit/11f7dadc67874bf38808853b0c69821eddb2fd64**

[2021-08-12 02:53] #106 closed

[2021-08-12 02:56] abhiTronix commented on #236
**Successfully added and merged audio device input support in StreamGear in commit https://github.com/abhiTronix/vidgear/commit/11f7dadc67874bf38808853b0c69821eddb2fd64.**

[2021-08-12 02:56] #236 closed

[2021-08-17 16:22] abhiTronix commented on #235
@rubar-tech This was harder to pull off but I did it. Please wait till I upload related doc commits. But the bare-minimum example for bidirectional video-frames transfer will be as follows:

### Server End
[code]

### Client End

[code]

[2021-08-17 16:26] abhiTronix commented on #235
@rubar-tech Btw, if not clear yet, you can install vidgear from source as follow:

[code]

[2021-08-22 17:25] abhiTronix commented on #235
**Bidirectional data transfer mode for NetGear_Async API successfully added and merged in commit: https://github.com/abhiTronix/vidgear/commit/c73428dff35aded6b598f3486e11d53477468ec1**

[2021-08-22 17:25] #235 closed

[2021-08-22 17:29] abhiTronix commented on #235
### Related Doc is available here: https://abhitronix.github.io/vidgear/v0.2.2-dev/gears/netgear_async/advanced/bidirectional_mode/

[2021-08-22 18:02] abhiTronix opened #240 "Docs: Add DL and ML python examples using vidgear"
## Detailed Description

This issue will oversee the progress of adding some famous Deep-Learning and Machine-Learning python examples in docs, which will be using vidgear and some famous python DL and ML libraries.

### Context

Since many were asking for vidgear usage with famous Deep-Learning and Machine-Learning libraries, therefore with this issue, I'll attempt to make a curated list of some

[2021-08-26 05:37] Kalana304 opened #241 "Merging multiple RTSP streams - Writing and Reading"
I want to write the original frame as well as a processed frame simultaneously into a single RTSP stream. I am reading a video from a .mp4 file and the frames are read one-by-one.

After a frame is read, I do some preprocessing and the processed image is obtained. The problem here is that the processed image does not necessarily be of the same resolution and this is _very important_ my application

[2021-08-26 06:39] #241 closed, assigned to nobody

[2021-08-26 07:00] abhiTronix opened #242 "Isolate all API specific optional imports"
## Detailed Description

Make all optional VidGear's API specific imports isolated so that each API can work independently if its specific dependencies are installed.

### Context

Currently, vidgear is designed to import all core and optional dependencies at once. But it seems unfair for users who don't  want certain optional libraries installed/included in their projects, maybe because of compat

[2021-08-30 17:21] #240 closed

[2021-09-01 10:12] ioangatop opened #244 "Stream resize error"
Hi! There is an issue with frame fetching from a youtube video when using different resolutions.

Code to reproduce:

[code]

Fetched image w/ `240p` resolution (happens with  `480p` as well):
![240](https://user-images.githubusercontent.com/41287808/131653742-e4f6421e-ac1b-462e-8039-cf4fa6fa9e58.jpg)

Fetched image w/ `144p` resolution:
![144p](https://user-images.githubusercontent.com/41287808/1

[2021-09-01 14:37] abhiTronix commented on #244
@ioangatop Yes bug is reproducible. But bug is with OpenCV's GSTREAMER backend and not vidgear. You can test this by:

1. First clone vidgear:

[code]

2. Then, commenting this line, so as to disable enforce `cv2.CAP_GSTREAMER` backend.

https://github.com/abhiTronix/vidgear/blob/eb19b9ce96061c09b5fe4c3ee63d84c940a19af2/vidgear/gears/camgear.py#L136

3. Then install vidgear as:

[code]

4. Running

[2021-09-01 14:40] abhiTronix commented on #244
@ioangatop Can you confirm your OpenCV version by excuting this command:

[code]

[2021-09-01 14:43] ioangatop commented on #244
@abhiTronix thanks for the quick response. My OpenCV version is `4.5.1`.

[2021-09-01 14:46] abhiTronix commented on #244
@ioangatop Thanks, I'm looking into OpenCV issues for clue.

I can make that simpler, but there's a [bug with FFmpeg](https://github.com/abhiTronix/vidgear/issues/133#issuecomment-638263225), which made me to enforce Gstreamer backend in the first place.

[2021-09-01 14:52] abhiTronix commented on #244
@ioangatop OpenCV is crappy in doing VideoIO even with backends. I'm thinking to switch FFmpeg decoding completely with issue #148. But unfortunately, It will going to happen next year due to busy 2021.

I think the best resolution to this problem for now is to  use `360p` or `720p` and then reduce size manually. You can use [`reducer()`](https://abhitronix.github.io/vidgear/v0.2.2-dev/bonus/refer

[2021-09-01 14:57] abhiTronix commented on #244
I'm closing this issue for now. I'll look into it in later versions.

[2021-09-01 14:58] ioangatop commented on #244
@abhiTronix thanks! I believe that `worse` and `best` in general don't have a problem, but it's good to have an option to fetch frames with a specific resolution, as it is a nice trade-off of speed and quality.

I'm not sure but I hope that in general, only these resolutions have problems, and its not for this specific stream (meaning if I put another stream `url`, `480p` will act properly but not

[2021-09-01 15:01] abhiTronix commented on #244
@ioangatop I'm thinking this is to do with GStreamer https://github.com/opencv/opencv/issues/19025#issuecomment-740183729. As we can see errors in logs:
[code]

[2021-09-01 15:04] abhiTronix commented on #244
@ioangatop This errors is only for Youtube livestreams and not general videos. General videos will works out of the box for any resolution.

[2021-09-02 07:46] golyalpha commented on #106
Hey @abhiTronix, great work on the HLS/DASH support. The StreamGear docs seem to imply that StreamGear will create a multires output, and generate a master playlist not just for the individual resolutions, but for the entire multires stream. Is that correct?

[2021-09-02 07:59] abhiTronix commented on #106
@golyalpha Multiple-bitrates of all indivisual streams defined within a master playlist.

[2021-09-02 08:01] abhiTronix commented on #242
**Successfully resolved and merged in commit https://github.com/abhiTronix/vidgear/commit/0fcc61d3fddce52895f693b66e406b656e5871cb**

[2021-09-02 08:01] #242 closed

[2021-09-02 08:07] golyalpha commented on #106
I just found the configuration documentation for that in the docs, however, this concerns me:
[code]

This is not a great idea - if I'm defining both b:v and r, it should be assumed I "know what I'm doing" and want both to be respected. In other words, I feel like VidGear should defer to ffmpeg on this front.

[2021-09-02 08:12] abhiTronix commented on #106
@golyalpha Yeah, but only if you read above it:
[code]

[2021-09-02 08:13] golyalpha commented on #106
I know. However, manually specifying both should override that logic.

[2021-09-02 08:22] abhiTronix commented on #106
@golyalpha It's Bits-Per-Pixel(BPP) and you should know how video framerate, BPP and bitrate are correlated.

[2021-09-02 08:32] golyalpha commented on #106
Well, that's the thing, bpp usually refers to color depth of the "raw" image data, and doesn't directly relate to the bitrate of an encoded file.

Quite frankly, having bitrate be a function of frame size and rate is not a good idea in general. The necessary bitrate changes not just according to those two values, but also based on the inter- and intra-frame content of the video stream in question.

[2021-09-02 08:33] abhiTronix commented on #106
@golyalpha That's utter nonsense. You can't directly specify output framerate for individual stream. If you can then, encode one yourself.

[2021-09-02 08:37] abhiTronix commented on #106
I've done both 1080p60fps and 1080p30fps and they did just fine, you can try yourself. I don't see the point, it like creating issue out of nothing less.

[2021-09-02 10:39] golyalpha commented on #106
Since you seem adamant, that I know nothing about video encoding, here's some actual encoding work.

Here's the source image sequence (250 1920x1080 PNG frames) I used for this:  https://www.filehosting.org/file/details/959380/render.zip

Here's ffmpeg encoding that image sequence into a single 1080p60 file (treating the image sequence as 60FPS)
[code]
As you can see, I have *explicitly* set both

[2021-09-03 19:53] zlg9folira opened #246 "name 'VideoStreamTrack' is not defined"
I am trying to use WebGear on Ubuntu 18.04. I installed `vidgear[asyncio]` from `pip3`. I am now running the following example:

[code]

And it throws the following error:
[code]

What causes this? and How can I fix this?

[2021-09-03 21:47] abhiTronix commented on #246
NameError: name 'VideoStreamTrack' is not defined
corrupted size vs. prev-size
Aborted (core dumped)

@zlg9folira This is half error, i need complete log from your terminal to debug anything at all. Are you running old version of vidgear? What's output of `python3 -c "import vidgear; print(vidgear.__version__)"`

I don't think so, Webgear errors don't propgate like this. Where's error handler valu

[2021-09-04 22:43] #246 closed

[2021-09-27 22:04] nebriv opened #247 "Audio Source anullsrc"
Hello,

I'm trying to live stream video frames generated from cv2 to YouTube. I was able to successfully do this through a straight ffmpeg solution by setting the audio input to 'anullsrc' however I can't find any option to do this within vidgear's implementation. Is this possible at all?

I was hoping to use either StreamGear to stream via DASH or HLS, or just WriteGear to stream via RTMP which w

[2021-09-27 22:35] nebriv commented on #247
My apologies - this issue seems to be very similar but didn't come up in my initial searches.
https://github.com/abhiTronix/vidgear/issues/201

I've landed on these output parameters so far but the buffering is quite terrible, I'll have to keep experimenting! I think this can probably be closed unless there is a more elegant solution built-in.

[code]

[2021-09-28 01:52] abhiTronix commented on #247
@nebriv Have you checked the vidgear docs yet? **Solution is right there:** https://abhitronix.github.io/vidgear/v0.2.2-dev/help/writegear_ex/#using-writegears-compression-mode-for-youtube-live-streaming

[2021-09-28 01:52] #247 closed

[2021-09-30 14:56] Vboivin opened #248 "StreamGear Malformed URI with Segments"
## Description

- I am using StreamGear Real-Time Frames mode to transmit a live feed from a webcam to a client.
- I am using StreamGear to generate the playlist file (m3u8) and the segments (.ts files).
- When using the StreamGear Real-Time Frames mode, the segment files contain a '%' character in their name which causes an error when I am serving this static content through Nginx.
- The playlist

[2021-09-30 16:01] abhiTronix commented on #248
@Vboivin Thank you for your contribution but I'm getting this error:

[code]

**`%v` is related to multi-variant stream and it should not appear if single variant video is present(as seen in your case). This definitely a bug.**

But simply changing `chunk-stream-%03d` would not work, but instead we need a logic to check if more than one stream is defined by user or not. If it defined than old `chu

[2021-09-30 16:06] Vboivin commented on #248
@abhiTronix Thank you for the comment!

It makes much more sense now, I'll take a look around the code to figure out how to implement the if check.
Great library btw!

[2021-09-30 16:11] abhiTronix commented on #248
@Vboivin I'm looking into this too, will update you  shortly.

Also, Well done with well-formatted PR and issue. Good going. 👍🏽

[2021-09-30 16:17] abhiTronix commented on #248
@Vboivin You can use `output_params["stream_count"]` key to determine the exact stream count. Default is `0`(Single variant stream) btw.

https://github.com/abhiTronix/vidgear/blob/38a7f54eb911218e1fd6a95e243da2fba51a6991/vidgear/gears/streamgear.py#L643

I'm sending you fix in review please wait.

[2021-09-30 16:27] abhiTronix commented on #248
@Vboivin Please make required changes.

[2021-09-30 18:49] Vboivin commented on #248
@abhiTronix I modified #249 with the changes you've suggested.

[2021-10-01 08:37] frankier commented on #148
Hi guys! I'd just thought that I'd mention there's another option for video reading in Python which is 1) more frame accurate than OpenCV 2) can use hardware acceleration: https://github.com/dmlc/decord

[2021-10-01 09:30] abhiTronix commented on #148
@frankier Yes that's a promising library. But only downside is its complicated installation process. Unless someone comes with easy-to-install wheels or pebuilt binaries, it can't be used as vidgear backend.

[2021-10-01 09:41] abhiTronix commented on #248
**Successfully resolved and merged in commit https://github.com/abhiTronix/vidgear/commit/dc9c60a54f3c843358e94707cfa43fe28bc65f14**

Thanks @Vboivin for the PR! 💯

[2021-10-01 09:41] #248 closed

[2021-10-02 18:37] harshitsinghai77 opened #250 "Using ScreenGear with WebGear_RTC"
How to add `ScreenGear` with `WebGear_RTC`

## Question

I want to use `ScreenGear` to capture the screen and use `WebGear_RTC` to broadcast it to frontend.

Here's my code.
[code]

But I'm getting error
[code]

It's not working and going to the `http://localhost:8000` doesn't stream my screen.

Can you tell me what I'm doing wrong?

### Acknowledgment

- [ x] I have searched the [issues](https://

[2021-10-03 02:54] abhiTronix commented on #250
@harshitsinghai77 Why're you using `monitor=2`? How many monitors do you have connected to your system?

[2021-10-03 06:12] harshitsinghai77 commented on #250
@abhiTronix I've 2 monitors.

`ScreenGear(monitor=2, logging=True).start()` is working fine.

It's not working when coupled with `WebGear_RTC`

[2021-10-03 06:36] abhiTronix commented on #250
@harshitsinghai77 This is not complete. Can you paste the complete terminal log here while running that code?

[2021-10-03 06:41] harshitsinghai77 commented on #250
Here it is...

![image](https://user-images.githubusercontent.com/30886142/135743075-ed643ac1-1530-4738-863b-1fc6edd600fe.png)

[2021-10-03 06:45] abhiTronix commented on #250
@harshitsinghai77

@harshitsinghai77  Your code is wrong. See https://abhitronix.github.io/vidgear/latest/gears/webgear_rtc/advanced/#using-webgear_rtc-with-a-custom-sourceopencv and then see your code. You're missing a lot of things in `recv` functions. The correct code will be as following:

[code]

[2021-10-03 06:46] #250 closed

[2021-10-03 06:53] harshitsinghai77 commented on #250
Still getting the same error.

[2021-10-03 06:53] abhiTronix commented on #250
@harshitsinghai77 That's not a error. But information about source is not provided explicitly.

[2021-10-03 06:58] harshitsinghai77 commented on #250
![image](https://user-images.githubusercontent.com/30886142/135743574-c1c590f2-b7cf-49ee-83dc-77bcd1bb3ebd.png)

[2021-10-03 07:02] abhiTronix commented on #250
@harshitsinghai77 Apologies there were some minor errors in above code too. Here's the working one:

[code]

[2021-10-03 07:04] abhiTronix commented on #250
@harshitsinghai77 Also, please wait for sometime before output arrives, it takes sometimes(~3-4sec).

[2021-10-03 07:12] harshitsinghai77 commented on #250
I think I got the issue.

`self.stream = ScreenGear(monitor=2, logging=True).start()`
This doesn't work.

`self.stream = ScreenGear(logging=True).start()`
This does...

[2021-10-03 07:13] abhiTronix commented on #250
@harshitsinghai77 Yeah, if you don't have more than 1 monitor then it won't work.

[2021-10-03 07:16] harshitsinghai77 commented on #250
I have 2 monitors. Running.

![image](https://user-images.githubusercontent.com/30886142/135744076-938c322b-9b2e-4f56-9f27-5e62ad899284.png)

See the left side is not chrome. It's `cv2.imshow("Output Frame", frame)`

[2021-10-03 07:18] abhiTronix commented on #250
Then, `monitor=2` must work. IF it is working with ScreenGear alone then it must work here also.

[2021-10-03 07:19] harshitsinghai77 commented on #250
Yeah, it should. but It's not. That's the issue.

[2021-10-03 07:20] abhiTronix commented on #250
@harshitsinghai77 Can you wait a little longer for the output, maybe itt is still in buffer.

[2021-10-03 07:31] harshitsinghai77 commented on #250
I don't think it's about waiting.

[code]

I'm not getting any print statement when `monitor=2` from `print('av_frame: ', av_frame)`
But I get the print statement when monitor is not defined.

I think `VideoFrame.from_ndarray(frame, format="bgr24")` is not able to create frame. Weird tho.

[2021-10-03 07:33] harshitsinghai77 commented on #250
Wait, now it's working.

I changed
```av_frame = VideoFrame.from_ndarray(frame, format="bgr24")```

to
```av_frame = VideoFrame.from_ndarray(frame)```

The color is off tho.

[2021-10-03 07:46] harshitsinghai77 commented on #250
It's not working. I think we should open the issue.

[2021-10-03 08:00] abhiTronix commented on #250
Nope original problem is resolved. This not related to the real issue.

[2021-10-03 08:10] harshitsinghai77 opened #251 "`ScreenGear` and `WebGear_RTC` not working when using `monitor=2`"
`ScreenGear` and `WebGear_RTC` does not work when using `monitor=2`

`self.stram = ScreenGear(monitor=2, logging=True).start()`

## Description

[code]
This doesn't work.

But using  ```self.stream = ScreenGear(logging=True).start()``` works.

The problem is when using
But using  ```self.stream = ScreenGear(monitor=2, logging=True).start()```

### Acknowledgment

- [x ] I have searched the [issues

[2021-10-03 08:13] abhiTronix commented on #251
@harshitsinghai77 IS logging stuck at `WebGear_RTC :: DEBUG :: ICE connection state is completed` ?

[2021-10-03 08:29] harshitsinghai77 commented on #251
Yes.

[2021-10-03 08:41] abhiTronix commented on #251
@harshitsinghai77 Ok I've found the bug. And you're right about problem being with `av_frame = VideoFrame.from_ndarray(frame, format="bgr24")` line.

### Bug:
Turned out ScreenGear was outputting BGRA(4 channel frame) format instead of BGR(3 channel frame) default with monitor value defined(!=None). Hence, `VideoFrame.from_ndarray` function cannot work with "bgr24" colorspace since it requires 3 c

[2021-10-07 04:47] abhiTronix commented on #251
Successfully resolved and merged in commit https://github.com/abhiTronix/vidgear/commit/7cbc1bd97b69fcc4e9e1bf29ba97fa1a8fa98229

### ScreenGear with WebGear_RTC Example is available here: https://abhitronix.github.io/vidgear/v0.2.3-dev/help/screengear_ex/#using-screengear-with-webgear_rtc

[2021-10-07 04:47] #251 closed

[2021-10-08 20:14] harshitsinghai77 commented on #251
Hey, Thanks for this. I was caught up in some work. This looks good. Thanks again for fixing it so soon. Really great work.. Keep up the good work. I really like the project. :rocket::rocket::rocket:

[2021-10-13 07:30] elaademiir opened #252 "video transfer with multiple servers and multiple clients"
Hi, vidGear is very creative solution but I can not understand how to implement my problem with multiple servers and multiple clients.

My Question

I have 4 modules in my software architecture.
First one aims to send videos to 2nd modules only. And 1st module's work is done.
After 2nd modules receive videos from 1st one, it does some transactions with frames and sends videos to 3rd module. And it

[2021-10-13 12:24] abhiTronix commented on #252
@elanurozlem This isn't multiple servers and multiple clients problem but instead you're looking for a linked(chaining) setup where each module is receiving frames from later and forwarding it to next module after processing.

From what I understand you wanted this setup:

[code]

Can you try following code:

### 0. Configurations:  `address` and `port` parameter values:
- Module - 1:
  - **Server

[2021-10-15 03:15] #252 closed, assigned to nobody

[2021-10-18 17:15] lavrenkov-sketch opened #253 "Skip RTSP frames"
Skip RTSP frames

## Question

Hi, I have a stream from a camera via RTSP, I want to do heavy operations per frame, how can I use CamGear or VideoGear in order to skip frames that I do not need and, after heavy processing, take a new frame from real time and not from the queue.
in fact, the task comes down to receiving the last frame of the RTSP stream and disabling buffering

### Acknowledgment

[2021-10-19 15:30] #253 closed, assigned to nobody

[2021-10-19 16:26] Vboivin opened #254 "Release of Vidgear v0.2.3"
# Release of Vidgear v0.2.3

## Question

When will this new version containing some hotfixes be released? I need version 0.2.3 to complete what I am working on currently. I can always help with the release process if it is needed.

### Acknowledgment

- [x] I have searched the [issues](https://github.com/abhiTronix/vidgear/issues) for my issue and found nothing related or helpful.
- [x] I have re

[2021-10-20 06:18] abhiTronix opened #255 "Sunsetting support for Python 3.6.x legacy"
Hello folks,

VidGear as of now supports all python 3.6+ legacies.  **☠️ However python 3.6 goes out of support, e.g. security updates plus general widespread availability, at the end of this year: https://endoflife.date/python ☠️**

Therefore, we have decided that `3.6.x` legacy will not be supported from upcoming version `v0.2.5`. This means that vidgear `v0.2.5` or higher might fail to work on

[2021-10-20 06:53] fatmanurakbass opened #256 "How to set fps and resolution with VideoGear"
hi! first thank you for this great work.

I would like to set the fps and resolution with VideoGear.
I tried as below but it didn't work.
[code]
Is it possible to make such settings with VideoGear?

[2021-10-20 07:12] #256 closed, assigned to nobody

[2021-10-21 07:27] elaademiir opened #257 "why all live streams are stopped when one of live stream cameras is unplugged?"
What would be happened if the one of the cameras will be closed after the code runs?

## Question

Hi, VidGear works very well for videos which has the same length in minutes. But when I use different kind of videos depends on minutes, for example 3 mins and 5 mins videos, all streams and all imshow windows are closed when 3mins video is finished. Vidgear does not support to show 5 minutes video a

[2021-10-21 07:48] #257 closed, assigned to nobody

[2021-10-22 06:43] megha-seventhsense opened #258 "WebGear_RTC: Once the camera stream on the browser is closed, it cannot be reloaded again on a new tab until the app is closed and restarted."
## Description

WebGear_RTC: Once the camera stream on the browser is closed, it cannot be reloaded again on a new tab until the app is closed and restarted.

### Acknowledgment

- [X] I have searched the [issues](https://github.com/abhiTronix/vidgear/issues) for my issue and found nothing related or helpful.
- [X] I have read the [Documentation](https://abhitronix.github.io/vidgear/latest).
- [X]

[2021-10-24 16:31] abhiTronix opened #259 "Bug: WriteGear failed to exit with external audio source"
## Description

There's a bug in `disable_force_termination` logic which disables force termination, which is essential to stop video encoding safely when external audio source is used.

### Acknowledgment

- [x] I have searched the [issues](https://github.com/abhiTronix/vidgear/issues) for my issue and found nothing related or helpful.
- [x] I have read the [Documentation](https://abhitronix.gith

[2021-10-24 16:46] abhiTronix opened #260 "Bug: Path permissions not recognised correctly in `check_WriteAccess` helper method"
## Description

Because of current logic in [`check_WriteAccess`](https://github.com/abhiTronix/vidgear/blob/38a7f54eb911218e1fd6a95e243da2fba51a6991/vidgear/gears/helper.py#L298) helper method, it fails to recognise correct permission for writing the output file on windows platform, since path permissions are handle differently on these systems in comparsion to *NIX systems. This bug directly aff

[2021-10-26 17:08] abhiTronix opened #261 "CamGear: Replaced Youtube-DL with `yt-dlp`"
## Detailed Description

Due to mostly inactive youtube-dl project(last released on [`youtube-dl 2021.06.06`](https://github.com/ytdl-org/youtube-dl/releases/tag/2021.06.06)) that results in new bugs, pipelining youtube videos with CamGear API is becoming extremely difficult day by day. **Therefore we are planning to move to its latest and constantly updating fork [`yt-dlp`](https://github.com/yt-

[2021-10-27 03:55] #259 closed, assigned to abhiTronix

[2021-10-27 03:55] #260 closed, assigned to abhiTronix

[2021-10-27 03:55] #261 closed, assigned to abhiTronix

[2021-10-27 11:44] fatmanurakbass opened #263 "."
## Question

_Kindly describe the issue here._

### Acknowledgment

- [ ] I have searched the [issues](https://github.com/abhiTronix/vidgear/issues) for my issue and found nothing related or helpful.
- [ ] I have read the [FAQs](https://abhitronix.github.io/vidgear/latest/help/get_help/#frequently-asked-questions).
- [ ] I have read the [Documentation](https://abhitronix.github.io/vidgear/latest).

[2021-10-27 11:45] #263 closed, assigned to nobody

[2021-10-27 11:57] fatmanurakbass opened #264 "Multiple cameras transfer and display"
### Question

hi! I tried to transfer and display(imshow) frames with three cameras between two modules, but it gives this error below:

how can I handle with this issue

[code]

### Your Environment
cameras: logitech 720p x3
ide: vscode
ram : 16 gb
i7

[2021-10-27 17:38] #264 closed, assigned to nobody

[2021-10-31 05:49] abhiTronix commented on #209
@LosTigeros This is solved.

#### Example is provided in docs: https://abhitronix.github.io/vidgear/latest/help/stabilizer_ex/#saving-stabilizer-class-output-with-live-audio-input

[2021-10-31 10:31] LosTigeros commented on #209
Woah, that's really nice! Will it work with live streams though?
In the example I can see you've used another input with audio device coming from the webcam, in a live stream it'd be ideal to have only one input. Should it be split up in some way?

[2021-10-31 11:09] abhiTronix commented on #209
ill it work with live streams though?
In the example I can see you've used another input with audio device coming from the webcam, in a live stream it'd be ideal to have only one input. Should it be split up in some way?

@LosTigeros Yes you can use video itself as audio source in FFmpeg. So it is definitely possible.

[2021-11-01 06:52] abhiTronix commented on #209
@LosTigeros Here's your example: https://abhitronix.github.io/vidgear/v0.2.4-dev/help/videogear_ex/#using-videogear-for-real-time-stabilization-with-audio-encoding .Good luck!

[2021-11-01 10:01] LosTigeros commented on #209
Hey.

Yeah this example will work with files but with live streams there are problems either with audio being cut/silent for some time, video/audio not synced, stabilization not being smooth.

I've checked the output encoding speed because I thought maybe it's because encoding is too slow but the speed is 1x on it.
`frame=  610 fps= 25 q=20.0 Lsize=   16183kB time=00:00:24.40 bitrate=5432.0kbits/s

[2021-11-01 12:52] abhiTronix commented on #209
@LosTigeros Oh ok, you need to stabilize livestream, and yeah that isn't possible in current scenario since, audio is been streamed at must faster pace then video frames itself. If you need consistent results then you need to download video locally before using it in this example. Being said that, Livestreams can only be possible if we have #148 resolved.

[2021-11-01 13:31] abhiTronix commented on #209
@LosTigeros Also, Can I see the complete terminal logs? I think something is off with your log.

[2021-11-01 14:44] LosTigeros commented on #209
Script:
[code]

[logs.txt](https://github.com/abhiTronix/vidgear/files/7454016/logs.txt)

[2021-11-01 15:23] LosTigeros commented on #209
Sure, here are 3 files:

- [AT-cm_1240377008.mp4](https://s.lostigeros.dev/vidgear/AT-cm_1240377008.mp4) - this file is streamed in loop with obs to local rtmp with NVENC and 4000Kbps bitrate (it's a little stabilized but still has small amount of shake)
- [Output-without-change.flv](https://s.lostigeros.dev/vidgear/Output-without-change.flv) - output of the script I posted in previous comment
- [

[2021-11-01 15:47] abhiTronix commented on #209
@LosTigeros Why are you using flv? Also, default WriteGear's encoder(H.264 encoder) is not suitable for flv formats.

options = {
  "SMOOTHING_RADIUS": 20, # Smooth by 20 pixels
}

Why lowering value? It worsen the stabilization performance. If it is to reduce latency then it won't make much difference as compared to 30.

[2021-11-01 15:50] abhiTronix commented on #209
@LosTigeros I tested this code on Windows and it worked fine:

[code]

### Input:

Here is input:
http://www.liushuaicheng.org/CVPR2014/data/limitation3.avi

### Output:

And here is output:

https://user-images.githubusercontent.com/34266896/139700329-b143bae4-6235-4f18-ace2-16154ba91f95.mp4

[2021-11-01 15:50] LosTigeros commented on #209
`Why are you using flv?` so I can preview the file while it's being generated, on .mp4 container it just doesn't play until I stop the processing.

`Why lowering value?` Because once I zoom into the image to hide black bars I still want to have some fov (this isn't final decision).

[2021-11-01 15:57] abhiTronix commented on #209
Ohk.

@LosTigeros No `SMOOTHING_RADIUS` is not used for that, it only affects latency at expense of stabilization. Instead, You need use `crop_n_zoom` parameter with `border_size` parameter for this purpose as:

[code]

[2021-11-01 15:57] abhiTronix commented on #209
Also, it [my example](https://github.com/abhiTronix/vidgear/issues/209#issuecomment-956350656) worked for you?

[2021-11-01 16:03] LosTigeros commented on #209
I tested your example with just replacing
`unstablized_videofile = "http://www.liushuaicheng.org/CVPR2014/data/limitation3.avi"`
to
`unstablized_videofile = "rtmp://localhost:1935/publish/live"`
and streaming that file on OBS.

This is the result (audio out of sync):
[Output.mp4](https://s.lostigeros.dev/vidgear/Output.mp4)

[2021-11-01 16:11] abhiTronix commented on #209
@LosTigeros I'm out of ideas why its lagging will looping, Maybe looping is causing this or RTMP stream itself. If by any means you can make this work with just FFmpeg, then it will also work with WriteGear or any other gear involved. Until then, it's a no.

[2021-11-01 16:33] LosTigeros commented on #209
Does output frames have some timestamps so ffmpeg could resync the audio?

Audio may be shifted because it's a stream so timestamps may differ between VidGear and ffmpeg.
I also saw that terminating VideoGear kills the ffmpeg process which makes .mp4 container corrupted (that was also the reason why I used .flv), I have to stop the stream instead for it to complete.

[2021-11-01 17:00] abhiTronix commented on #209
@LosTigeros Nope. OpenCV is useless, that's why #148 is so important.

Yup, and that's why you need `"-disable_force_termination": True,` in your code.

[2021-11-01 17:01] abhiTronix commented on #209
@LosTigeros Like I said, make just audio syncing work with FFmpeg, and this problem will be solved automatically,

[2021-11-01 17:02] LosTigeros commented on #209
I would but without timestamps on both sides It's currently not possible. I'll wait until #148 is solved then.
Thanks for the help!

[2021-11-01 17:03] abhiTronix commented on #209
Nope, VideoGear have no effect on frames number as it never exit untill last frame is outputted, It's WriteGear which kills FFmpeg process.

[2021-11-04 06:38] thusinh1969 opened #265 "How to Receive audio stream and Send combined audio stream with VidGear"
I found that majority of VidGear functions focus on video frame and very little to do with audio if at all.

## Question
Can VidGear, in combination with PyAudio (for example) give out functionality to combine (receiving) audio and then write/stream audio with sync together with video as H264 for example?

- Can we can use audio source from video files, or from microphone or from MediaPlayer.audio

[2021-11-04 07:32] abhiTronix commented on #265
Nope, WebGear_RTC doesn't support audio yet. Maybe in future but not right now. You can use `aiortc` library directly.

[2021-11-04 07:45] abhiTronix commented on #265
@thusinh1969 I'm closing this as I currently got not time to work on audio support. I'll work on this on future versions. Being said that any related PR is welcomed anytime.

[2021-11-04 07:45] #265 closed

[2021-11-15 05:30] alanko0511 opened #266 "Built-in logging module don't show log after importing CamGear"
## Description

After importing CamGear, I found that all the log messages from the built-in logging module are gone, even changing the logging level still doesn't work.
[code]

### Environment

* VidGear version: 0.2.3
* Branch: PyPi
* Python version: 3.8.12
* PiP version: 21.0.1
* Operating System and version: Windows 11

### Expected Behavior
'hello from logging!' and 'hello from print!' should

[2021-11-15 06:22] abhiTronix commented on #266
@alanko0511 good find 👍🏽. This is indeed a bug. This is due to some redundant code left accidently in library, I'll fix it in no time.

[2021-11-16 03:32] abhiTronix commented on #266
@alanko0511 Thank you for reporting this issue. It is now fixed in testing branch and you can test it as follows:

[code]

and logging module in your code should work now. Good luck.

[2021-11-16 03:33] abhiTronix commented on #266
**Successfully fixed in commit https://github.com/abhiTronix/vidgear/commit/6e8bc6ce4b39540fc16fd1572faed3ff8ffa8f0c**

@alanko0511 Please test it when ready.

[2021-11-16 03:33] #266 closed

[2021-11-22 18:19] Adib234 opened #267 "How to get the minimum version required for each package to install VidGear"
## Question

A project that I'm working gets performance boosts from using VidGear but would like to know what is the minimum version of all the packages that VidGear uses since they provide the minimum versions in their `requirements.txt`

### Acknowledgment

- [X] I have searched the [issues](https://github.com/abhiTronix/vidgear/issues) for my issue and found nothing related or helpful.
- [X] I

[2021-11-22 21:18] zpapakipos commented on #267
Note here (I’m a maintainer of the project that would like to add vidgear to our dependencies): can you guys please change your requirements to just set a minimum version for each of dependency, instead of requiring **the most recent version** for many of them? I doubt you actually need the most recent versions, and it makes it way heavier to install vidgear if we have to download new versions of

[2021-11-23 02:30] abhiTronix commented on #267
@zpapakipos Thank you for trusting vidgear, I agree with you that simple `requirement.txt` will be more suitable. But there's a catch:

This behavior doesn't affect the generated [wheel package or tar package in release](https://github.com/abhiTronix/vidgear/releases/tag/vidgear-0.2.3)  or [official pypi package](https://pypi.org/project/vidgear/), since the wheel(`.whl`) file generated will have

[2021-11-23 02:42] abhiTronix commented on #267
@zpapakipos Also I want to inform you that you do not need all the dependencies for your project, if you're using on a specific API, then **you can just install specific dependencies required by the API in use except for some Core dependencies:**

- Here are all the **Core dependencies**:

[code]

- And here are all **API-specific dependencies** required by API(in use):

    | APIs | Dependencies

[2021-11-23 02:46] abhiTronix commented on #267
@zpapakipos @Adib234 Please let me know if given solution in  https://github.com/abhiTronix/vidgear/issues/267#issuecomment-976109207 is adequate?

[2021-11-23 08:58] zpapakipos commented on #267
Hi @abhiTronix thanks for your response!

I understand your point that I could ‘pip install —no-deps’ & only install the dependencies I need for the API calls we’re using. However to install ’vidgear’ internally in our company’s code base, we aren’t able to set flags like ‘—no-deps’.

I was hoping you could modify your ‘setup.py’ file. You can define an extra like you’ve done for ‘asyncio’, for th

[2021-11-23 14:41] abhiTronix commented on #267
I was hoping you could modify your setup.py file. You can define an extra like you’ve done for asyncio, for the dependencies that are only required for certain functionality. And in the install_requires you can shorten the list of dependencies to just the core ones you listed above: cython, numpy, requests, tqdm, colorlog, opencv-python

@zpapakipos Sounds good to me. Let's do this!

[2021-11-23 15:17] zpapakipos commented on #267
Thanks @abhiTronix, glad to hear you're onboard! :) I just published a PR making the changes I had in mind to `setup.py`: https://github.com/abhiTronix/vidgear/pull/268

Can you please take a look & test it out? I wrote the steps in the PR description. The sooner that we can update `vidgear` on pypi the sooner we can start using `vidgear` in our project. Thanks!

[2021-11-24 17:38] abhiTronix commented on #267
@zpapakipos changes mentioned in https://github.com/abhiTronix/vidgear/pull/268#pullrequestreview-814359278 must be resolved in order to merge your PR.

[2021-11-25 01:51] abhiTronix commented on #267
**Successfully resolved and merged in commit https://github.com/abhiTronix/vidgear/commit/e94ec7f0158e6fec6c7cc9b24dff478d2ce01b14**

[2021-11-25 01:51] #267 closed

[2021-11-27 03:23] Adib234 opened #269 "How to initialize multiple filters to execute in `execute_ffmpeg_command`"
## Question

So I have this snippet of code which horizontally/vertically stacks 2 videos
[code]

However I get this error
[code]

So I decided to copy the command to be executed shown in VidGear logs
[code]

And this worked when I ran this as a command in my terminal

### Acknowledgment

- [X] I have searched the [issues](https://github.com/abhiTronix/vidgear/issues) for my issue and found nothin

[2021-11-27 03:31] abhiTronix commented on #269
@Adib234 Remove all quotes(single or double) and you're good to go.

[2021-11-27 03:31] #269 closed

[2021-11-28 12:46] alexanderkershaw opened #270 "FPS Performance Issues using ScreenGear and WriteGear"
Hi, first off thanks for this library, it's been really interesting to explore.

The issue I have is that I'm unable to get desireable FPS using the combination of ScreenGear and WriteGear. I want to record my screen at a reasonable FPS for playback (anything above 25 would be fine). I'm recording in 1080p.

However the using the code from the usage example under WriteGear I find that I can only w

[2021-11-28 13:30] abhiTronix commented on #270
Use constant [framerate](https://abhitronix.github.io/vidgear/latest/gears/writegear/compression/usage/#using-compression-mode-with-controlled-framerate) in compression mode.

That's not true, WriteGear do not set any default framerate in compression mode, it let FFmpeg handle it. If you want to change it you need to manually specify it as above.

If you're talking about Non-compression mode then,

[2021-11-28 13:37] alexanderkershaw commented on #270
Thanks for the quick response. You are correct I'm using non-compression mode. My understanding was that this would not have a performance effect but just cause larger video files - sounds like that was a bad assumption!

I think I initially did try to use compression mode but it didn't work for me straight away so I swapped to non-compression (I don't really care about video size at this stage).

[2021-11-28 13:49] abhiTronix commented on #270
Yup @alexanderkershaw That's too much slow to do real-time processing, and will be removed from vidgear in future.

That's weird. Since you're on windows, it should've work for you straightaway. Are you not using internet when running script ?, since it automatically downloads FFmpeg static binaries from our dedicated server.

[2021-11-28 13:51] abhiTronix commented on #270
Can you try again with `compression_mode=True`, I've changed something?

[2021-11-28 13:55] abhiTronix commented on #270
@alexanderkershaw It's working fine on my windows 10 machine:

[code]

[2021-11-28 13:57] alexanderkershaw commented on #270
Was a while ago when I tried - just retried and it's worked fine with compression mode!

[code]

I tried to pass `output_params = {"-input_framerate":stream.framerate}` as per your example, however it seems that isn't valid for ScreenGear:

I hit "AttributeError: 'ScreenGear' object has no attribute 'framerate'" as per https://github.com/abhiTronix/vidgear/issues/59.

I then tried with a hardcoded

[2021-11-28 13:58] abhiTronix commented on #270
Use desired one like `30` instead.

[2021-11-28 14:00] alexanderkershaw commented on #270
I think I tried this already (unless I'm minsunderstanding) as per my above comment:

[2021-11-28 14:00] abhiTronix commented on #270
If -input_framerate attribute doesn't works for you, then define it in conjunction with another -r FFmpeg parameter as attribute:

[code]

But make sure you MUST set value of -r and -input_framerate parameter less than or equal to your input source framerate.

[2021-11-28 14:02] abhiTronix commented on #270
@alexanderkershaw Is python script taking too much memory, Check task manager?

[2021-11-28 14:07] alexanderkershaw commented on #270
Looks like it peaks at 1.4GB memory usage during the 12s recording. Have plenty more free so doesn't look like it's bottlenecking there. I tried what you suggested but no luck - still the same result.

I seem to only have captured 180 FPS during the 12s recording (less than 30 FPS - maybe this is the problem?)

I've attached a console log now with logging=True enabled
[log.txt](https://github.com/

[2021-11-28 14:10] abhiTronix commented on #270
@alexanderkershaw  Can you share the video here, just copy paste it into the comment.

[2021-11-28 14:11] alexanderkershaw commented on #270
https://user-images.githubusercontent.com/32389325/143771447-b62a5933-4392-406a-a437-e8c8dfd5b3d9.mp4

[2021-11-28 14:13] abhiTronix commented on #270
@alexanderkershaw I don't see any anomality, I think WriteGear is not the culprit but ScreenGear is capturing frames with delay.

[2021-11-28 14:15] abhiTronix commented on #270
@alexanderkershaw See this:

![image](https://user-images.githubusercontent.com/34266896/143771616-5e403a80-c475-49c9-8ddd-1ed90e688f06.png)

[2021-11-28 14:18] abhiTronix commented on #270
@alexanderkershaw Can you fore `backend="scrot"` in ScreenGear as:

[code]

[2021-11-28 14:19] alexanderkershaw commented on #270
[code]

[2021-11-28 14:21] abhiTronix commented on #270
@alexanderkershaw OK `scrot` isn't available on windows, try `"mss"` instead.

[2021-11-28 14:22] abhiTronix commented on #270
@alexanderkershaw Also, try "pil" backend.

[2021-11-28 14:23] alexanderkershaw commented on #270
- With mss I captured 77 frames over 12s and final video was 2s long
- With pil I captured 177 frames over 12s and final video was 5s long

[2021-11-28 14:28] alexanderkershaw commented on #270
I added some time.time() calls like this

[code]

and saw:

[code]

Interesting that the frame read time has gone up a lot since I initially raised the issue and the write time has gone down slightly...

[2021-11-28 14:31] abhiTronix commented on #270
With pil I captured 177 frames over 12s and final video was 5s long

@alexanderkershaw Ok now add this flag to existing flags in WriteGear:

[code]

 and then retry these tests

[2021-11-28 14:35] abhiTronix commented on #270
That's because vidgear is optimize to perform better under more load. So when you're using OpenCV backend, the system IO was under stress, and that's where vidgear shines. Now that writing is fast, the result is barely noticeable.

[2021-11-28 14:37] alexanderkershaw commented on #270
Results:
- default: 174 frames in 12s
- mss: 73 frames in 12s
- pil: 178 frames in 12s

[2021-11-28 14:38] abhiTronix commented on #270
So no effect. :/

[2021-11-28 14:40] alexanderkershaw commented on #270
Seems that way yes :(

[2021-11-28 14:40] abhiTronix commented on #270
Can you comment out writer and put `cv2.imshow("Output Frame", frame) ` to confirm if frames are not skipping there.

[2021-11-28 14:43] alexanderkershaw commented on #270
Up to 277 frames there (but I suppose that's not a suprise as removing the write has removed approx half the time consuming operations in the loop?)

[2021-11-28 14:44] abhiTronix commented on #270
That's unusual behaviour. But can you see skipping there?

[2021-11-28 14:47] alexanderkershaw commented on #270
Nope no skipping in the window that is opened there.

[2021-11-28 14:48] abhiTronix commented on #270
Also with pil or pil backend is skipping frames?

[2021-11-28 14:50] alexanderkershaw commented on #270
Stepping back a bit I think I have two issues:
1. Not managing to read/write frames fast enough.
2. The video saved still needs a hardcoded framerate in code.

I think that even if I solve issue 1 above I'm still going to have issue 2, is that correct? Your original reply to my question stated "Use constant framerate in compression mode." - I'm doing that now and the video playback is still not qu

[2021-11-28 14:50] alexanderkershaw commented on #270
Same with pil, no skipping

[2021-11-28 14:53] abhiTronix commented on #270
I'm not seeing any anomality in logs and none in output video you shared, I'm still unsure why this is happening.

default: 174 frames in 12s
mss: 73 frames in 12s
pil: 178 frames in 12s

@alexanderkershaw With pil+WriteGear, skipping is there right?

[2021-11-28 14:56] abhiTronix commented on #270
Try reducing frame size:

Add this line to import:

[code]

Add this line before writing frame:

[code]

[2021-11-28 14:58] alexanderkershaw commented on #270
don't think there is skipping here (when you say skipping - you mean choppy playback?)

Uploading 3v3-Hook Point-14.56.22.mp4…

[2021-11-28 15:00] alexanderkershaw commented on #270
Seemingly no effect from this. Although this video has got larger.

[code]

[2021-11-28 15:12] abhiTronix commented on #270
But you said,

Isn't video is faster than require?

[2021-11-28 15:17] alexanderkershaw commented on #270
Yes - as in the stopwatch videos the 6s of video was 12s of real time - I think that's always happened in every repro attempt, but the we've had some variance in the performance in regard to how many frames are being captured so the ratio has changed with this.

[2021-11-28 15:43] alexanderkershaw commented on #270
https://stackoverflow.com/questions/46545374/how-to-acheive-1x-writing-speed-for-4k-encoding-in-ffmpeg/46684054 mentions the -re flag, i don't see that anywhere in the logs.

from the ffmpeg docs https://ffmpeg.org/ffmpeg.html

Should this argument be present?

[2021-11-28 16:03] abhiTronix commented on #270
I ran some tests, and @alexanderkershaw I think it is impossible to achieve exact framerate as real-time, as different frames available for processing at different times, and it makes impossible for FFmpeg to predict framerate. I check through FFmpeg docs and I failed to find any solution to this problem, you always going to have some minor anomaly in output framerate. Also, python isn't a best ch

[2021-11-28 16:06] alexanderkershaw commented on #270
OK - I think a minor anomaly would be OK but currently my videos are varying by up to 50% from the real time.

Anyway thanks for all your efforts - I'll look into other solutions/C++.

[2021-11-28 16:08] abhiTronix commented on #270
@alexanderkershaw I tried and found lower framerate like `10` works better.

[2021-11-28 16:20] abhiTronix commented on #270
@alexanderkershaw Sorry I didn't see your comment. It is removed in earlier version. I'll test it please wait.

[2021-11-28 16:30] abhiTronix commented on #270
@alexanderkershaw Nah no effect.

[2021-11-30 10:38] zpapakipos commented on #267
Hi @abhiTronix checking in, when do you expect to get v0.2.4 out so we can benefit from the fix we made? :)

[2021-11-30 12:49] #270 closed

[2021-11-30 13:01] abhiTronix commented on #267
@zpapakipos It will happen soon and I'm working on it in my free time. There're a lot of things needed to sort out before making a release, as many packages depend on this library. Please be patient, I'll notify you here.

[2021-11-30 14:23] abhiTronix opened #271 "Installation command has been changed in `v0.2.4`"
Hello,

**This issue is to inform you that in order to reduce vidgear installation times the default Installation command has been changed.**

With `v0.2.4`, the legacy command ` pip install vidgear` will now installs critical bare-minimum dependencies only. In order automatically install all the API specific dependencies for vidgear as previous versions, use `pip install vidgear[core]` command in

[2021-11-30 14:23] #271 closed

[2021-12-01 05:12] abhiTronix commented on #258
@megha-seventhsense This issue is being worked on and will be resolved soon. Please stay tuned.

[2021-12-01 14:41] abhiTronix opened #273 "Replace Pafy with VidGear's own Custom YouTube Metadata extraction class."
## Detailed Description

This issue is to inform users that we're going to implement our own VidGear Class based on `yt-dlp` backend from scratch for extracting metadata from YouTube API  in upcoming commits that will  replace existing broken Pafy dependency.

### Context

VidGear's current dependency [**Pafy**](https://github.com/mps-youtube/pafy)(that depends upon old youtube-dl backend), have p

[2021-12-02 02:57] abhiTronix commented on #258
**Successfully resolved and merged in commit: https://github.com/abhiTronix/vidgear/commit/cd481c142519b7973822179bc754435b68ce1ca2**

[2021-12-02 02:57] #258 closed

[2021-12-02 03:02] abhiTronix commented on #258
### Docs for defining custom streaming class can be found here: https://abhitronix.github.io/vidgear/v0.2.4-dev/gears/webgear_rtc/advanced/#using-webgear_rtc-with-a-custom-sourceopencv

[2021-12-04 03:14] abhiTronix commented on #244
@ioangatop I think #274 will resolve this issue too, can you check it as follows:

Clone and Install `development` branch:

[code]
Test your code:
[code]

[2021-12-04 03:19] abhiTronix commented on #133
@Smart-Stadium I think #274 resolves this issue too.

Clone and Install `development` branch:

[code]
Test your code:
[code]

[2021-12-04 03:23] abhiTronix commented on #23
@adithya6aj  I think #274 resolves this issue too.

Clone and Install `development` branch:

[code]
Test your code:
[code]

[2021-12-04 03:23] #23 closed

[2021-12-04 03:24] abhiTronix commented on #152
@varneyraney  I think #274 resolves this issue too.

Clone and Install `development` branch:

[code]
Test your code:
[code]

[2021-12-04 06:35] abhiTronix commented on #273
**Successfully resolved and merged in commit: https://github.com/abhiTronix/vidgear/commit/dc26c00bcb4ec6e40645b4ad1aa1aedf4f0c6b43**

### Usage docs are available at: https://abhitronix.github.io/vidgear/v0.2.4-dev/gears/camgear/usage/#using-camgear-with-streaming-websites

[2021-12-04 06:35] #273 closed

[2021-12-04 06:35] abhiTronix commented on #244
**Successfully resolved and merged in commit: https://github.com/abhiTronix/vidgear/commit/dc26c00bcb4ec6e40645b4ad1aa1aedf4f0c6b43**

### Usage docs are available at: https://abhitronix.github.io/vidgear/v0.2.4-dev/gears/camgear/usage/#using-camgear-with-streaming-websites

[2021-12-04 06:35] #244 closed

[2021-12-04 06:36] abhiTronix commented on #133
**Successfully resolved and merged in commit: https://github.com/abhiTronix/vidgear/commit/dc26c00bcb4ec6e40645b4ad1aa1aedf4f0c6b43**

### Usage docs are available at: https://abhitronix.github.io/vidgear/v0.2.4-dev/gears/camgear/usage/#using-camgear-with-youtube-videos

[2021-12-04 06:36] abhiTronix commented on #152
**Successfully resolved and merged in commit: https://github.com/abhiTronix/vidgear/commit/dc26c00bcb4ec6e40645b4ad1aa1aedf4f0c6b43**

### Usage docs are available at: https://abhitronix.github.io/vidgear/v0.2.4-dev/gears/camgear/usage/#using-camgear-with-youtube-videos

[2021-12-04 06:36] #133 closed

[2021-12-04 17:58] abhiTronix commented on #270
@alexanderkershaw Ok I've solved this problem, actually you need a different approach to solve this. You need to completely eliminate ScreenGear and do everything in WriteGear. There's the code generate time accurate Video with WriteGear:

[code]

Please test and confirm if this works.

[2021-12-05 13:08] abhiTronix commented on #267
@zpapakipos Thank you for your patience and apologies for the delay. **The latest vidgear `v0.2.4` is now available on pypi with purposed fix: https://pypi.org/project/vidgear/** Goodluck.

[2021-12-06 07:24] Smart-Stadium commented on #133
Thank you for your job. My project is finished but as soon as I have a little bit time, I'll test.

[2021-12-10 11:58] Ashish-U21 opened #276 "How to get live feed from any remotely located device?"
Hey, First of all, thank-you for providing such impressive repo.I am working on a project where I am using opencv and I need to get the source (video feed, in any format or url) to achieve my objective. Here I am using cam gear, but it required some source as well, do you have any suggestion regarding this like how I can get the feed from client device using vidgear?

Additionally, I have an IP ad

[2021-12-10 12:06] abhiTronix commented on #276
Hi @Ashish-U21, Everything is in docs, See https://abhitronix.github.io/vidgear/latest/gears/netgear/advanced/ssh_tunnel/#ssh-tunneling-mode-for-netgear-api

[2021-12-10 12:06] #276 closed

[2021-12-10 12:11] abhiTronix commented on #276
@Ashish-U21 Another way is to [live-stream to YouTube or Twitch](https://abhitronix.github.io/vidgear/latest/gears/writegear/compression/usage/#using-compression-mode-for-streaming-urls) and [download it frame-by-frame](https://abhitronix.github.io/vidgear/latest/gears/camgear/usage/#using-camgear-with-streaming-websites) on remote machine.

[2021-12-13 05:25] Ashish-U21 commented on #276
I have been trying to solve this but I am not able to, I do not understand how to integrate or install in the frontend, I asked my frontend engineer to do same, he was asking the steps or key points to keep in mind, can you please help me with that, it will be a great help our project is stucked on this.

[2021-12-13 06:38] abhiTronix commented on #276
@Ashish-U21 OK I've updated the instructions in our doc: https://abhitronix.github.io/vidgear/v0.2.5-dev/gears/netgear/advanced/ssh_tunnel/ .

**Basically you need this configuration for implementing [SSH tunneling](https://www.ssh.com/academy/ssh/tunneling/example):**

### A. Server End(A system for sending video-frames to remote Client): [Located on your Home Network]
- VideoGear to capture vide

[2022-01-14 10:05] Input-BDF opened #277 "CamGears THREAD_TIMEOUT parameter"
Hey there, first of all, thanks for vidGear. It saves me alot of headache^^

Currently I'm moving from plain OpenCVs VideoCapture to vidGear, cause of alot of reasons. I was a little bit forced to implement a timeout on millisecond basis on frame reading before using vidGear cause timing was essential. Trying now to figure out what I still need.

Your implementation of timeout parameter casts the

[2022-01-14 12:57] elanurozlem opened #278 "How to Send a Message with Frame in MultiClient Mode"
cannot send message with frame!

## Question

Hi,
  I have multiple clients and 1 server. I aim to send my message with frame from my server to all clients but there is no option to do that in multi-client mode. How to do that with multi-client mode or with bidirectional mode without creating any new server port?

[2022-01-14 17:55] abhiTronix commented on #277
@Input-BDF I don't really know exactly why I kept this integer value, this may be somewhat related to something I read way back that python's queue `timeout` parameter behavior is inconsistent on different platforms: https://bugs.python.org/issue34535, so maybe I thought assuming absolute integer value is way to go.

But I think float value is more suitable for this job. No worries I'll change it.

[2022-01-14 18:16] abhiTronix commented on #278
@elanurozlem You can't currently as NetGear only support unidirectional data transfer in both Multi-clients and Multi-Server Exclusive modes. It could be possible to implement bidirectional data transfer in these modes, but I'll not going to work on it right now, may be in the near future. Being said that any related PRs are always welcome.

[2022-01-14 18:16] #278 closed

[2022-01-17 07:07] elanurozlem commented on #278
I just wonder that is there any way to send a message with frame from 1 server to multiple clients in VidGear?

[2022-01-17 13:27] abhiTronix commented on #278
I explained already above. No not yet.

[2022-01-28 07:54] Gpwner commented on #228
@abhiTronix it did not working.
[code]
Here are my code:
[code]
Still got this error:
[code]

Can you help?

[2022-01-28 17:29] abhiTronix commented on #228
@Gpwner If you can see comment above, I specifically mentioned, "The only solution to this error is to re-compile/re-install the FFmpeg manually on your machine with --enable-network --enable-protocol=tcp --enable-demuxer=rtsp flags enabled."

[2022-01-29 12:38] abhiTronix commented on #228
@Gpwner Ok I tested on my system and its working, **You might be using old vidgear**, here's my output

[code]

and here's output:

[code]

[2022-02-07 03:25] Gpwner commented on #228
@abhiTronix so which version do you use?

here is the output of my  "pip show vidgear" :
[code]
And if I run the following CMD，everything is ok :
[code]

I Just copy your code and got the same output:

[code]

By the way ,I am using Ubuntu 1604.

[2022-02-07 03:31] abhiTronix commented on #228
@Gpwner This is surely old formatting of vidgear's debugging. New `0.2.4` looks like this:

Check the spacing.

[2022-02-07 03:38] abhiTronix commented on #228
@Gpwner seems like you're using virtual environment, can you try this outside it. Also update vidgear beforehand.

[2022-02-07 03:44] Gpwner commented on #228
@abhiTronix my bad.But I got another error：
[code]

[2022-02-07 03:47] abhiTronix commented on #228
@Gpwner Connection refused means that the port you are trying to connect to is not actually open.

[2022-02-07 04:26] Gpwner commented on #228
thank you so much.

[2022-02-07 07:54] Gpwner opened #279 "How to convert this CMD to vidgear when push to RTSP server?"
I am trying to push a video frame by frame，This CMD seem to meet my requirement：
[code]

## Question
How can I convert it to vidgear format?

### Acknowledgment

- [x] I have searched the [issues](https://github.com/abhiTronix/vidgear/issues) for my issue and found nothing related or helpful.
- [x] I have read the [FAQs](https://abhitronix.github.io/vidgear/latest/help/get_help/#frequently-asked-q

[2022-02-07 07:57] Gpwner commented on #279
The "-re" parameter seem to  be cannot add to  ```output_params ```

[2022-02-07 08:03] abhiTronix commented on #279
@Gpwner Ok, I'll look into it.

[2022-02-07 08:06] Gpwner commented on #279
@abhiTronix so by now,This is a  unsupport feature?

[2022-02-07 08:11] abhiTronix commented on #279
Yes you can't add pre command headers like `-re` but I'll have to test it to make sure of it. I'll test it. and then I may possibly add support for it.

[2022-02-07 08:40] Gpwner commented on #279
Looking forward to it.By the way if it can push the video and audio at the same time frame by frame when the audio and video is generated frame by frame that will be excellent!

[2022-02-07 16:51] abhiTronix opened #280 "[Proposal]: Add support for GStreamer pipeline in WriteGear's Non-Compression mode"
## Detailed Description

Add support for GStreamer pipeline as input string in WriteGear API's Non-Compression mode.

### Context

The [OpenCV's VideoWriter Class](https://docs.opencv.org/3.4/dd/d9e/classcv_1_1VideoWriter.html) supports GStreamer input as string to its `filename` parameter when `CAP_GSTREAMER` backend is use, and provides flexible way to directly write into GStreamer pipeline. Hen

[2022-02-08 05:40] abhiTronix commented on #279
@Gpwner A new `-ffpreheaders` attribute has been added to latest testing branch for this feature, you can test by installing vidgear as follows:

[code]

Then use output_params in your code as:
[code]

Goodluck!

[2022-02-08 05:42] abhiTronix commented on #277
@Input-BDF A fix has been added to latest testing branch, you can test by installing vidgear as follows:

[code]

Then use float as input value `THREAD_TIMEOUT` attribute. Goodluck!

[2022-02-08 06:13] Gpwner commented on #279
@abhiTronix 👍 ,the parameter “-vcodec copy” still can not work as:
[code]

how to solve this?

[2022-02-08 06:18] abhiTronix commented on #279
You use `-clones` and pass it as list. But remember you do need vcodec defined otherwise it encoding won't work. Vidgear encodes raw frames and that needs to be re-encoded to make a valid video file.

[2022-02-08 06:20] abhiTronix commented on #279
Also, i don't like answering queries other than the actual question being asked in Issue Description. Kindly ask these queries on our gitter.im community.

[2022-02-08 06:33] Gpwner commented on #279
ok,but it seems to be no one will response

[2022-02-08 07:05] abhiTronix commented on #279
You've to wait a bit.

[2022-02-08 12:17] Input-BDF commented on #277
Tested and works for me. Think this one can be closed. At least from my side^^

[2022-02-08 12:47] stampycode opened #281 "Missing UDP stream support in NetGear"
TCP stream is supported but UDP stream is not.

## Detailed Description
Add support to send/receive video via UDP.

### Context
It's quite common to stream video in UDP on local networks.

[2022-02-08 12:55] abhiTronix commented on #281
@stampycode Supported by what? What is Gear/API in question?

[2022-02-08 12:58] stampycode commented on #281
@abhiTronix  NetGear 👍

[2022-02-08 13:00] abhiTronix commented on #281
@stampycode Is there any clear advantage of UDP over TCP connection? FYI, TCP transmissions are highly optimized in terms of speed in NetGear API.

[2022-02-08 13:05] abhiTronix commented on #281
Unless, UDP targets some specific application or provides significant edge over TCP connections in your case, It couldn't be added as alternative.

[2022-02-08 13:29] stampycode commented on #281
UDP is fully supported by ffmpeg.
Its ideal for broadcasting video in a connectionless environment, such as satellite video.

Suggest you also have a look at SRT, which is UDP based. 👍

-------- Original Message --------
On 8 Feb 2022, 13:05, Abhishek Thakur wrote:

[2022-02-08 13:36] abhiTronix commented on #281
@stampycode Ohk, looks convincing, I'll work on this later. Any related PRs are always welcome.

[2022-02-09 04:37] abhiTronix opened #282 "[Proposal]: Add bidirectional data transfer support to Multi-Clients and Multi-Servers modes."
## Detailed Description

Adding bidirectional data transfer support by extending Bidirectional mode support to existing Multi-Clients and Multi-Servers modes in NetGear API.

### Context

Currently both [Multi-Clients](https://abhitronix.github.io/vidgear/latest/gears/netgear/advanced/multi_client/) and [Multi-Servers](https://abhitronix.github.io/vidgear/latest/gears/netgear/advanced/multi_server

[2022-02-09 04:42] abhiTronix commented on #278
@elanurozlem This feature is being worked on now. Please stay tuned.

[2022-02-09 09:12] abhiTronix commented on #282
**Successfully resolved and merged in commit https://github.com/abhiTronix/vidgear/commit/9006f7ca41a6a40df0c76473ef898daf6b685ffa**

[2022-02-09 09:12] #282 closed

[2022-02-09 09:12] abhiTronix commented on #278
**Successfully resolved and merged in commit https://github.com/abhiTronix/vidgear/commit/9006f7ca41a6a40df0c76473ef898daf6b685ffa**

[2022-02-09 14:07] #281 closed

[2022-02-10 15:41] KenwoodFox opened #285 "Recording, and streaming via WebGear at the same time"
Hello! I took a few looks around, mainly here https://github.com/abhiTronix/vidgear/issues/224 and a few other issues, very handy! but im not sure they do exactly what i want, yet!

I want to define a CamGear i think, and reference it more than once. My overall plan is to take several seperate cameras, 2 or 3, and for each camera, save a high quality full-res video file to disk, AND transcode and

[2022-02-10 16:12] abhiTronix commented on #285
@KenwoodFox You meant something like this:

[code]
Also, for further questions reach us here: https://gitter.im/vidgear/community

[2022-02-10 16:25] abhiTronix commented on #280
**Successfully resolved and merged in commit: https://github.com/abhiTronix/vidgear/commit/d3716d294f6ab5ca5d0ed57b615b74a0bc943e1a**

[2022-02-10 16:25] #280 closed

[2022-02-11 14:14] #255 closed

[2022-02-11 14:14] #277 closed

[2022-02-11 14:14] #279 closed

[2022-02-11 14:16] abhiTronix commented on #255
**Dropped support for Python-3.6.x legacies in commit https://github.com/abhiTronix/vidgear/commit/de2e8a9cc8e0fd29eaf636d487e7a22f2c038505**

[2022-02-11 14:17] abhiTronix commented on #279
**Successfully resolved and merged in commit https://github.com/abhiTronix/vidgear/commit/de2e8a9cc8e0fd29eaf636d487e7a22f2c038505**

[2022-02-11 14:17] abhiTronix commented on #278
Successfully resolved and merged in commit https://github.com/abhiTronix/vidgear/commit/de2e8a9cc8e0fd29eaf636d487e7a22f2c038505

[2022-02-11 14:18] abhiTronix commented on #277
Successfully resolved and merged in commit https://github.com/abhiTronix/vidgear/commit/de2e8a9cc8e0fd29eaf636d487e7a22f2c038505

[2022-02-17 04:42] abhiTronix opened #289 "[Bug]: Zero(`0`) index device bug in StreamGear"
## Brief Description

There's a hidden bug in StreamGear which incorrectly infers `-video_source` attribute  of `stream_params` dictionary parameter as empty when a Zero(`0`) index camera device is used as input, and thereby even if `logging=False` StreamGear API outputs debug logs.

### Acknowledgment

- [x] I have searched the [issues](https://github.com/abhiTronix/vidgear/issues) for my issue a

[2022-02-17 06:50] abhiTronix commented on #289
Hi @enarche-ahn, can you test if logging problem is fixed in StreamGear by installing `development` branch as follows:

[code]
After installing, run your test example again. **Kindly test it as soon as possible and share your results here. Goodluck!**

[2022-02-17 07:12] enarche-ahn commented on #289
Just now I finished testing with the development branch, and it worked fine in both case, 'logging=True' and 'logging=False' option.

    streamer = StreamGear(
	output="./New folder/hls_out.m3u8",
	format="hls",
	logging=False,
	**stream_params)

    streamer = StreamGear(
	output="./New folder/hls_out.m3u8",
	format="hls",
	logging=True,
	**stream_params)

[2022-02-18 04:15] abhiTronix commented on #289
**Successfully resolved and merged in commit https://github.com/abhiTronix/vidgear/commit/1b9b413e11b58def2b3e130303b29ba776fe30c8**

[2022-02-18 04:15] #289 closed

[2022-02-19 02:29] KenwoodFox commented on #63
Sorry for the delay, bit hectic, this seems to rly on webgear actually sending a frame for the recorder to save each frame. This makes the recording stop when the web-page is closed or connection is inturruped, can i make the writegear request new frames even without the webgear doing it?

[2022-02-19 02:30] KenwoodFox commented on #285
Sorry for the delay, bit hectic, this seems to rly on webgear actually sending a frame for the recorder to save each frame. This makes the recording stop when the web-page is closed or connection is inturruped, can i make the writegear request new frames even without the webgear doing it?

[2022-02-19 04:06] abhiTronix commented on #285
@KenwoodFox Here's your v2 code according to follow up query you posted on gitter:

[code]

Hope that helps. Again, Good luck with your project! 😃

[2022-02-19 12:35] iandol opened #291 "[Bug]: zmq.error.ZMQError: Can't assign requested address error trying NetGear+WebGear example"
## Brief Description

I have a Raspberry Pi400 (using latest 64bit Bullseye release) with a UVC USB3 camera attached. On the same local network I have a Macbook Pro that I want to use to connect to the RPi and display the camera output. Speaking to @abhiTronix on chat, he recommended the following code: https://abhitronix.github.io/vidgear/latest/help/netgear_ex/#using-netgear-with-webgear

Howeve

[2022-02-19 13:46] abhiTronix commented on #291
@iandol what's the IP address on both mac and Rpi? Follow following instructions and paste the results here:
- Open a Terminal app on each machine.
- Type and run `/sbin/ifconfig` this will list your IP address as well your MAC address.
- You can use cmd+a to select all, cmd+c to copy and it can be pasted to whatever you want.

[2022-02-19 14:29] iandol commented on #291
My RPi is assigned `192.168.1.44` and my macbook is `192.168.1.38`. I can ping `192.168.1.44` from the macbook OK, and as I said I tried to run the `zmq` hello world server/client, and I've also tried lazy pirate from the zmq docs using the same `192.168.1.44:5454` and it works fine; code here: https://gist.github.com/iandol/a0cd594d790230435d4f3d343830da9f

RPi:
[code]

macbook:
[code]

On the RP

[2022-02-19 16:49] abhiTronix commented on #291
@iandol This pretty obvious that you're doing it wrong. It mentioned everywhere in NetGear docs(see any example) as well in example links I provided you for reference, that you need to ***"Replace the IP addresses in the code with Client's IP address, i.e. `192.168.1.38` in your case."***. Kindly read docs properly before raising an issue here.

[2022-02-19 16:49] #291 closed

[2022-02-19 21:41] iandol commented on #291
Yikes, you are completely correct of course. I'm very sorry. My brain made a strong assumption in a client + server system it was the server address that must be used...

As a slight emphasis for others who may make such an misguided assumption, perhaps the first comment on the example page could be slightly modified:

There were 3 problems I encountered with the client code. There is a missing im

[2022-02-20 03:37] abhiTronix commented on #291
@iandol I think all the instructions are already self-explanatory, no need to emphasis on (client) keyword in example. However, You can surely make a new FAQ for NetGear https://abhitronix.github.io/vidgear/latest/help/netgear_faqs/ explaining the error and what one must do to avoid it. **A PR would be great, but read the guidelines carefully: https://abhitronix.github.io/vidgear/latest/contributi

[2022-02-23 11:20] ioangatop opened #292 "[Bug]: Memory Leakage with YouTube video"
Hi! These days I came across this issue, where it appears that the memory usage keeps increasing as I stream a video.
In this example, it increases even more, but in a microserver setting, like launching this script in a REST-API server, there is a steady but small increase over time.

In this scenario, I run the script with docker;

[code]

[code]

[code]

[2022-02-23 11:37] abhiTronix commented on #292
**@ioangatop Few questions:**
- This is specific to youtube video or any video?
- Are there multiple threads involved in your code? Is code running in a multi-threaded environment?
- What happens when you use OpenCV directly instead of vidgear with normal video?

[2022-02-23 11:42] ioangatop commented on #292
- Any youtube long/live videos will do
- Single thread runs this script in the background (e.g. `threading.Thread(target=main, daemon=True).start()`)
- No, because I'm interested in fetching from a USB camera, live video youtube, or remote wireless camera.

[2022-02-23 11:45] abhiTronix commented on #292
@ioangatop  Do with USB camera feed, I want to eliminate possibility that OpenCV itself is responsible.

[2022-02-23 11:46] abhiTronix commented on #292
@ioangatop Wait isn't this multi-threading?

[2022-02-23 11:47] ioangatop commented on #292
it does look like this: `https://github.com/opencv/opencv/issues/13255`

Hmmm not sure

[2022-02-23 11:50] ioangatop commented on #292
this is how it looks like in the server
[code]

[2022-02-23 11:50] abhiTronix commented on #292
Yes it is. This is case of infamous [GIL](https://realpython.com/python-gil/) which makes it impossible to use same resource on multiple threads, hence whatever high end your PC specs are or optimizations you perform, it will going to throttle the performance or cause leaks.

[2022-02-23 11:50] #292 closed

[2022-02-23 11:53] abhiTronix commented on #292
@ioangatop The GIL is per Python process, a Docker container may have 1 or many Python processes, each with it's own GIL.

[2022-02-23 11:54] ioangatop commented on #292
@abhiTronix Thank you for the pointer, I'll take a look at it. However, I would like to mention that I have multiple other microservers that work with `Thread` (ml model, tracking etc) and not have any memory leak

[2022-02-23 11:56] abhiTronix commented on #292
@ioangatop The problem here is that vidgear itself uses Multi-Threading in its CamGear API:
https://github.com/abhiTronix/vidgear/blob/6af7aef2b924b5b9b9923a527f7d844c82991b7f/vidgear/gears/camgear.py#L421-L431
And using threading over threading is bad.

[2022-02-23 11:58] abhiTronix commented on #292
@ioangatop Good news is that I'm working on new library that will eliminate use of threading and will produce high performance frames with FFmpeg. Follow issue #148

[2022-02-23 12:00] ioangatop commented on #292
@abhiTronix ah right, that makes sense! Does Vidgear has any generator, like `main.py`, that I can take advantage of without me starting another process? Any idea is super welcome!

I track the issue, super exciting!

[2022-02-23 12:03] abhiTronix commented on #292
You mean starting CamGear directly from terminal? No, but can be added easily.

[2022-02-23 12:04] ioangatop commented on #292
No, I want to start vidgear to fetch frames from a source and put them in a message broker (like redis) _in the background_

[2022-02-23 12:06] abhiTronix commented on #292
@ioangatop Isn't `read()` function act as iterator?

[2022-02-23 12:08] abhiTronix commented on #292
Ok you meant python generator, no.

[2022-02-23 12:08] ioangatop commented on #292
you mean smthing like ` threading.Thread(target=videostreamer.read, daemon=True).start()`?

[2022-02-23 12:09] ioangatop commented on #292
tbh it doesn't matter, just to run in the background

[2022-02-23 12:12] abhiTronix commented on #292
No this is invalid. You want your python script to run in background or just vidgear?

[2022-02-23 12:14] abhiTronix commented on #292
Because vidgear's `start()` once called will keep `read()` running/alive in background untill `stop()` function is called manually by user.

[2022-02-23 12:15] ioangatop commented on #292
script that runs vidgear in the background.

Highlevel:

[code]

and the process should be smthing like
[code]

[2022-02-23 12:20] abhiTronix commented on #292
@ioangatop Why don't you use [asyncio python](https://docs.python.org/3/library/asyncio.html)? It is thread safe and you could easily create custom generator something like https://abhitronix.github.io/vidgear/latest/gears/webgear/advanced/#using-webgear-with-a-custom-sourceopencv

[2022-02-23 12:25] ioangatop commented on #292
@abhiTronix I think thats a good solution, I'll take a look at it! Thank you!

[2022-02-23 15:35] iandol opened #294 "[Question]: Small issues with Netgear example"
When going through https://abhitronix.github.io/vidgear/latest/help/netgear_ex/#using-netgear-with-webgear I came on some small issues with the code, @abhiTronix recommended they should be fixed; well he only mentioned the `self.` typo but I assume the missing import and the return value are also OK?

### Acknowledgment

- [x] I have searched the [issues](https://github.com/abhiTronix/vidgear/issu

[2022-02-23 17:22] abhiTronix commented on #294
@iandol Thanks, but make sure next time not open to multiple PRs rather combine commits under one PR. Also, I asked to one changes.

[2022-02-23 17:57] iandol commented on #294
OK, I'll roll changes into one in the future (other repos often prefer separate pulls to make a more explanatory commit log). I'm sorry but I can't see what change you've asked for in the pull request?

[2022-02-24 01:17] abhiTronix commented on #294
@iandol see review on PR, you newd to revert missing `None`.

[2022-02-25 09:29] abhiTronix commented on #294
**Successfully resolved and merged in commit https://github.com/abhiTronix/vidgear/commit/53ca17bf61d9c6ff8adadc978fe4036c3fd93ba4**

[2022-02-25 09:29] #294 closed

[2022-02-26 08:12] DanielOX opened #296 "After Video Processing Save Video with Audio as Well"
## After Video Processing Save Video with Audio as Well

## Question

Hello, first for all thanks for the awesome library. I am using vidgear for downloading video streams from twitter and youtube. The video is downloaded perfectly but on the other hand, the audio is not being downloaded, i am using CamGear which supports youtube platform. Can u please help me out with this issue? I will happy to

[2022-02-27 23:31] abhiTronix commented on #296
@DanielOX audio is not supported in CamGear yet. Follow #148 that will resolve this issue.

[2022-02-27 23:31] #296 closed

[2022-03-02 18:10] KenwoodFox commented on #285
Again sorry for the delay, im amazed you went through so much trouble to help out! Im ramping up into the project again today, so ill be spending more time on it, but i tested the code out and.. it still does not work (the v2 code you posted above, thanks again by the way it helps me learn!)

The process starts, but just.. waits?

If i connect to it, *then* it kicks over, and starts recording fram

[2022-03-02 18:11] KenwoodFox commented on #285
[code]
Application hangs here indefinetly, untill somebody connects, then it starts writing, and continues writing after the client disconnects.

[2022-03-03 05:52] abhiTronix commented on #285
@KenwoodFox Yes it won't start unless atleast one is connected. This is because of this line:
[code]
which do not call `web.config["generator"]` unless one is connected.

[2022-03-03 06:14] abhiTronix commented on #285
@KenwoodFox To bypass it, you can do something like this:

[code]

[2022-03-03 16:10] KenwoodFox commented on #285
Awesome thanks again~ That makes sense to me, so i think i can implement it but atm i keep getting duplicated frames,
![image](https://user-images.githubusercontent.com/31870999/156604189-0e9c0f62-2e16-42d1-9c16-8003ef1b3b69.png)
Sorry to keep this going with so many issues, i really appreciate all the advice, ill start implementing your latest. My code is currently here.

https://github.com/FRC-1

[2022-03-04 06:04] abhiTronix commented on #285
@KenwoodFox Sorry but this isn't a forum, I need to lock this issue. Continue this discussion on gitter. But I'll answer you one query here:

I don't see any frames duplicated. The message you quoted - **_More than 1000 frames duplicated_** - is not ffmpeg's analysis of the input. FFmpeg duplicates or drops frames when the input and output framerates differ. You need to use the [mpdecimate](https:

[2022-03-07 08:31] abhiTronix commented on #148
### 🎉 A new library is here: https://github.com/abhiTronix/deffcode

👍🏽 Any suggestions are most welcomed.

[2022-03-07 14:09] abhiTronix opened #297 "Announcement: Required feeback for Deffcode Library that will replace OpenCV backend"
## Brief Description

A new [deffcode](https://github.com/abhiTronix/deffcode) python library that will replace the OpenCV backend for Video Decoding in CamGear is now up and requires valuable feedback from the community.

<h3 align="center">
<img src="https://raw.githubusercontent.com/abhiTronix/deffcode/master/docs/overrides/assets/images/deffcode.png" alt="VidGear" title="Logo designed by Abhis

[2022-03-14 04:53] sweetngx opened #298 "WebCam Source: data is not aligned!"
Warning: data is not aligned! This can lead to a speed loss.
Does it matter if I get this warning? Everything is fine, but I was just nervous.

[2022-03-14 04:58] abhiTronix commented on #298
@sweetngx No context regarding which gear you used or what python code you used or where in output you getting this is provided. Please fill the template properly or this issue will be closed soon.

[2022-03-14 05:02] sweetngx commented on #298
@abhiTronix Ah Sorry... I am using Python 3.8 version and I get this warning when I use it with OBS Virtual Cam.

options = {
    "CAP_PROP_FRAME_WIDTH": 1920, # resolution 320x240
    "CAP_PROP_FRAME_HEIGHT": 1080,
    "CAP_PROP_FPS": 30, # framerate 60fps
}

stream = VideoGear(source=1, logging=True, **options).start()

[2022-03-14 05:44] abhiTronix commented on #298
@sweetngx This warning is related to unusual frame size that your source `1` is outputting. This warning is generated by OpenCV's FFmpeg backend, it is a common FFmpeg warning and causes no harm. So you're good.

[2022-03-14 05:44] #298 closed

[2022-03-14 05:51] sweetngx commented on #298
Thank you very much for your interest and information...

[2022-03-14 15:12] sweetngx opened #299 "[Question]: urllib3 Error"
When everything was fine and working healthy, I just took a tea break and when I returned, I started getting this error. I reinstalled python and even recompiled opencv but still the same error, I'm going crazy please help.
OS: Windows 10
Python: 3.8.3

  File "C:\Program Files\Python38\lib\site-packages\vidgear\gears\helper.py", line 44, in <module>
    from requests.packages.urllib3.util.retry i

[2022-03-14 15:31] abhiTronix commented on #299
@sweetngx Thanks for finding this bug. I'll work on this in my free time. For the time being, downgrade your `requests` dependency.

[2022-03-21 04:15] #297 closed

[2022-03-21 08:56] abhiTronix commented on #299
OK, it wasn't a bug but `requests` package installed incorrectly. More info can be found here: https://github.com/certbot/certbot/issues/5104

[2022-03-21 08:56] #299 closed

[2022-03-22 21:06] connor-john opened #300 "[Question]: Starting a video (`.mp4`) at a given frame"
## Question

Using `VideoGear` I wish to start a video (`.mp4`) at a given frame say 100, I could not find if this is possible, is this not intended functionality?

Similar to opencv's functionality of
[code]

And below is async locked
[code]

Thanks in advance.

### Acknowledgment

- [x] I have searched the [issues](https://github.com/abhiTronix/vidgear/issues) for my issue and found nothing rela

[2022-03-22 21:20] connor-john commented on #300
Seems #53 mentioned this in 2019, is this still the case?

[2022-03-23 01:54] abhiTronix commented on #300
@connor-john not at all, you lucky since can now use my new library DeFFcode which is designed exactly to tackle this problem, and will soon replace OpenCV in CamGear or some other Gear. Here's example for accurate seeking:
https://abhitronix.github.io/deffcode/latest/examples/basic/#saving-keyframes-as-image

You need to make some changes according to your application, but I'll leave that to you,

[2022-03-23 01:54] #300 closed

[2022-03-23 04:08] connor-john commented on #300
This looks like exactly what I am after, thank you @abhiTronix

[2022-03-24 07:19] zeynepkoyun opened #301 "Netgear API multiple listening error on same port"
When I try to listen to the same port multiple times with the Netgear API, I get the error that the port is already listening.

Would you help me with this topic?

[2022-03-24 07:32] abhiTronix commented on #301
@zeynepkoyun seems like you're not closing NetGear properly. Can you fill the template properly as need to know what machine/OS are you running? Or version of vidgear you're using, and so on. Plus, I need terminal debug logs to be able to solve this issue, so kimdly set `logging=True` in NetGear and then, paste the output from terminal here, whenever this issue happens.